<div class="card">
<div class="col-lg-12">
  <div class="card table-card group-widget" style="height: 300px;">
      <div class="">
          <div class="row-table">
              <div class="col-sm-4  card-block-big">
                  <i style="font-size: 70px; color: #999;" class="icofont icofont-credit-card"></i>
                  <p style="font-size: 20px; color: #4b4b4b;">Pagá con tarjeta o en efectivo</p>
                  <p style="font-size: 15px; color: #999;">Con Yingul Pay, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                  <p><a href="/">Cómo pagar con Yingul Pay</a></p>
              </div>
              <div class="col-sm-4  card-block-big">
                  <i style="font-size: 70px; color: #999;" class="icofont icofont-box"></i>
                  <p style="font-size: 20px; color: #4b4b4b;">Recibí tu producto</p>
                  <p style="font-size: 15px; color: #999;">Elegí Yingul Express y seguí tu compra hasta que llegue a tus manos.</p>
                  <p><a href="/">Cómo recibo o retiro el producto</a></p>
              </div>
              <div class="col-sm-4  card-block-big">
                  <i style="font-size: 70px; color: #999;" class="icofont icofont-shield"></i>
                  <p style="font-size: 20px; color: #4b4b4b;">Compra Protegida</p>
                  <p style="font-size: 15px; color: #999;">Pagá con Yingul Pay y te acompañamos hasta que recibas lo que compraste. Y si no es lo que esperabas, te devolvemos el dinero.</p>
                  <p><a href="/">Cómo te protegemos</a></p>
              </div>
          </div>
      </div>
  </div>
</div>

  <div class="row">
    <div class="col-sm-12" >
      <div style="text-align: center;">
          <div class="btn-group dropdown-split-default" >
              <button style="background: white; color: #666; font-size: 13px;" type="button" class="btn ">Más información</button>
              <button [hidden]="!more" (click)="more=!more" style="cursor: pointer; background: white; color: #666; font-size: 13px;" type="button" class="btn "><i class="icofont icofont-rounded-down"></i></button>
              <button [hidden]="more" (click)="more=!more" style="cursor: pointer; background: white; color: #666; font-size: 13px;" type="button" class="btn "><i class="icofont icofont-rounded-up"></i></button>
          </div>
      </div>
        <div style="padding-left:4em; padding-right:4em;" class="table-responsive" [hidden]="more">
            <table class="table">
                <thead>
                    <tr style="color: #333; font-size: 14px;" class="text-capitalize">
                        <th>Acerca de</th>
                        <th>Otros sitios</th>
                        <th>Ayuda</th>
                        <th>Redes sociales</th>
                        <th>Mi cuenta</th>
                    </tr>
                </thead>
                <tbody style="color: #999; font-size: 14px; line-height: 0;">
                    <tr>
                        <td>Yingul</td>
                        <td>Developers</td>
                        <td>Comprar</td>
                        <td>Twiter</td>
                        <td>Resúmen</td>
                    </tr>
                    <tr>
                        <td>Investor relations</td>
                        <td>Yingul Pay</td>
                        <td>Vender</td>
                        <td>Facebook</td>
                        <td>Favoritos</td>
                    </tr>
                    <tr>
                        <td>Mapa de sítio</td>
                        <td>Yingul Shop</td>
                        <td>Resolución de problemas</td>
                        <td>Instagram</td>
                        <td>Vender</td>
                    </tr>
                    <tr>
                        <td>Tendencias</td>
                        <td>Yingul Express</td>
                        <td>Centro de seguridad</td>
                        <td>Youtube</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Yingul Libre Publicidad</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Yingul Libre Ideas</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div style="font-size: 14px; line-height: 0; padding-left:4em">
            <p> Trabajá con nosotros &nbsp; Términos y condiciones &nbsp; Políticas de privacidad &nbsp; Ayuda</p>
            <p style="color: #999; font-size: 13px; line-height: 0;"> Copyright © 1999-2018 Yingul S.R.L</p>
        </div>
    </div>
  </div>
</div>