<div class=" card card-block desktop">
    <div class="row users-card">
        <div class="col-lg-4 col-xl-4 col-md-4">
            <div class="card rounded-card user-card">
                <div class="card-block">
                    <div class="img-hover" align="center">
                        <i style="font-size: 90px; color: #ff5e3a;" class="icofont icofont-credit-card"></i>
                    </div>
                    <div class="user-content">
                        <h4 class="">Pagá con tarjeta o en efectivo</h4>
                        <p style="font-size: 15px; color: #999;">Con Yingul Pay, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                        <p><a>Cómo pagar con Yingul Pay</a></p>
                    </div>
                    <ul class="icons-list mt-15">
                        <li><a href="#" data-popup="tooltip" data-original-title="Google Drive"><i class="icon-google-drive"></i></a></li>
                        <li><a href="#" data-popup="tooltip" data-original-title="Twitter"><i class="icon-twitter"></i></a></li>
                        <li><a href="#" data-popup="tooltip" data-original-title="Github"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4">
            <div class="card rounded-card user-card">
                <div class="card-block">
                    <div class="img-hover" align="center">
                        <i style="font-size: 90px; color: #ff5e3a;" class="icofont icofont-box"></i>
                    </div>
                    <div class="user-content">
                        <h4 class="">Recibí tu producto</h4>
                        <p style="font-size: 15px; color: #999;">Elegí Yingul Express y seguí tu compra hasta que llegue a tus manos.</p>
                        <p><a>Cómo recibo o retiro el producto</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4">
            <div class="card rounded-card user-card">
                <div class="card-block">
                    <div class="img-hover" align="center">
                        <i style="font-size: 90px; color: #ff5e3a;" class="icofont icofont-shield"></i>
                    </div>
                    <div class="user-content">
                        <h4 class="">Compra Protegida</h4>
                        <p style="font-size: 15px; color: #999;">Pagá con Yingul Pay y te acompañamos hasta que recibas lo que compraste. Y si no es lo que esperabas, te devolvemos el dinero.</p>
                        <p><a href="/help/protectedPurchase">Cómo te protegemos</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



            <div class="slid-content phone">
                <div class="content">
                        <div class="slide-footer" style="left:0px;">
                                <div  class="card-items">
                                    <div class="card-img">
                                        <i style="font-size: 90px; color: #ff5e3a;" class="icofont icofont-credit-card"></i>
                                    </div>
                                    <div class="card-desc">
                                            <h4 class="">Pagá con tarjeta o en efectivo</h4>
                                            <p style="font-size: 15px; color: #999;">Con Yingul Pay, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                                            <p><a>Cómo pagar con Yingul Pay</a></p>
                                        <ul class="icons-list mt-15">
                                            <li><a href="#" data-popup="tooltip" data-original-title="Google Drive"><i class="icon-google-drive"></i></a></li>
                                            <li><a href="#" data-popup="tooltip" data-original-title="Twitter"><i class="icon-twitter"></i></a></li>
                                            <li><a href="#" data-popup="tooltip" data-original-title="Github"><i class="icon-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="slide-footer" style="left:360px;">
                                <div  class="card-items">
                                    <div class="card-img">
                                        <i style="font-size: 90px; color: #ff5e3a;" class="icofont icofont-box"></i>
                                    </div>
                                    <div class="card-desc">
                                        <h4 class="">Recibí tu producto</h4>
                                        <p style="font-size: 15px; color: #999;">Elegí Yingul Express y seguí tu compra hasta que llegue a tus manos.</p>
                                        <p><a>Cómo recibo o retiro el producto</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="slide-footer" style="left:720px;">
                                <div  class="card-items">
                                    <div class="card-img">
                                        <i style="font-size: 90px; color: #ff5e3a;" class="icofont icofont-shield"></i>
                                    </div>
                                    <div class="card-desc">
                                        <h4 class="">Compra Protegida</h4>
                                        <p style="font-size: 15px; color: #999;">Pagá con Yingul Pay y te acompañamos hasta que recibas lo que compraste. Y si no es lo que esperabas, te devolvemos el dinero.</p>
                                        <p><a href="/help/protectedPurchase">Cómo te protegemos</a></p>
                                    </div>
                                </div>
                            </div>
                
                            
                </div>
            </div>

