<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">
        <!-- Page header start -->
        <div class="page-header">
            <div class="page-header-title">
                <h4>Lista de Items</h4>
            </div>
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">E-Commerce</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Product List</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Page header start -->
        <!-- Page body start -->
        <div class="page-body">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Product list card start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>Lista de Items</h5>
                            <button type="button" class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger" data-modal="modal-13"> <i class="icofont icofont-plus m-r-5"></i> Vender
                            </button>
                        </div>
                        <div class="card-block">
                            <div class="table-responsive">
                                <div class="table-content">
                                    <div class="project-table">
                                        <table id="e-product-list" class="table table-striped dt-responsive nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Imagen</th>
                                                    <th>Nombre y descripción</th>
                                                    <th>Precio</th>
                                                    <th>Stock</th>
                                                    <th>Ver</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let itemCategory of itemCategoryList">
                                                    <td class="pro-list-img">
                                                        <!--ruta para la imagenes en desarrollo -->
                                                        <img width="200" height="200" src="https://s3-us-west-2.amazonaws.com/jsa-s3-bucketimage/dev/image/{{itemCategory.item.principalImage}}" class="img-fluid" alt="{{itemCategory.item.principalImage}}">
                                                    </td>
                                                    <td class="pro-name">
                                                        <h6> {{itemCategory.item.name}} </h6>
                                                        <span>{{itemCategory.item.description}}</span>
                                                    </td>
                                                    <td>$ {{itemCategory.item.price}}</td>
                                                    <td>
                                                        <label class="text-success">In Stock</label>
                                                    </td>
                                                    <td class="action-icon">
                                                        <a href="/itemDetail/{{itemCategory.item.itemId}}" class="m-r-15 text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="icofont icofont-touch"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product list card end -->
                </div>
            </div>
        </div>
        <!-- Page body end -->
    </div>
</div>
<!-- Main-body end -->