<div class="image" style="width:100%">
  <img class="mySlides" src="assets/images/car-trip.jpg" style="width:100%">
  <div class="content-title">
    <div>
        <p align="center" class="prev"><span >Autos, motos y otros</span></p>
        <h4 align="center" class="title"><span >Tu vehículo está aquí</span></h4>
    </div>
  </div>
  <div align= "center" class="form">
    <form class="md-float-material card-block">
        <div class="row">
            <div class="col-sm-12">
                <label class="form-title">Búsqueda</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-12">
                <div class="row">
                    <div class="col-sm-12">
                        <select name="select" class="form-control element" #t (change)="getSubCategory(t.value)">
                            <option [value]="0">Todas las categorias</option>
                            <option *ngFor="let category of categoryList" [value]="category.categoryId">{{category.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <select name="select" class="form-control" #u (change)="getSubSubCategory(u.value)">
                            <option [value]="0">Todas las marcas</option>
                            <option *ngFor="let category of subCategoryList" [value]="category.categoryId">{{category.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <select name="select" class="form-control" #v (change)="setSubSubCategory(v.value)">
                            <option [value]="0">Todos los modelos</option>
                            <option *ngFor="let category of subSubCategoryList" [value]="category.categoryId">{{category.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-sm-6 col-lg-12">
                <div class="row">
                    <div class="col-sm-6">
                        <select name="select" class="form-control" #w (change)="setMinPrice(w.value)">
                            <option [value]="0">Precio desde</option>
                            <option [value]="0">Sin precio mínimo</option>
                            <option *ngFor="let price1 of price" [value]="price1">$ {{price1}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select name="select" class="form-control" #x (change)="setMaxPrice(x.value)">
                            <option [value]="0">Precio hasta</option>
                            <option *ngFor="let price1 of price" [value]="price1">$ {{price1}}</option>
                            <option [value]="0">Sin precio máximo</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select name="select" class="form-control" #y (change)="setMinYear(y.value)">
                            <option [value]="0">Año desde</option>
                            <option *ngFor="let anio1 of anios" [value]="anio1">{{anio1}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select name="select" class="form-control" #z (change)="setMaxYear(z.value)">
                            <option [value]="0">Año hasta</option>
                            <option *ngFor="let anio1 of anios" [value]="anio1">{{anio1}}</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <button (click)="search()" type="button" class="btn btn-primary waves-effect waves-light m-r-10">Buscar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--form class="md-float-material card-block">
            <div class="row">
              <div class="col-sm-4">
                <select name="select" class="form-control form-control-primary element" #t (change)="getSubCategory(t.value)">
                    <option [value]="0">Todas las categorias</option>
                  <option *ngFor="let category of categoryList" [value]="category.categoryId">{{category.name}}</option>
                </select>
              </div>
              <div class="col-sm-4">
                  <select name="select" class="form-control form-control-primary" #u (change)="getSubSubCategory(u.value)">
                      <option [value]="0">Todas las marcas</option>
                      <option *ngFor="let category of subCategoryList" [value]="category.categoryId">{{category.name}}</option>
                  </select>
              </div>
              <div class="col-sm-4">
                  <select name="select" class="form-control form-control-primary" #v (change)="setSubSubCategory(v.value)">
                      <option [value]="0">Todos los modelos</option>
                      <option *ngFor="let category of subSubCategoryList" [value]="category.categoryId">{{category.name}}</option>
                  </select>
              </div>
            </div>
            <hr>
            <div class="row">
                <a class="col-sm-1"></a>
                    <select name="select" class="form-control form-control-primary col-sm-2" #w (change)="setMinPrice(w.value)">
                        <option [value]="0">Precio desde</option>
                        <option [value]="0">Sin precio mínimo</option>
                        <option *ngFor="let price1 of price" [value]="price1">$ {{price1}}</option>
                    </select>
                    <select name="select" class="form-control form-control-primary col-sm-2" #x (change)="setMaxPrice(x.value)">
                        <option [value]="0">Precio hasta</option>
                        <option *ngFor="let price1 of price" [value]="price1">$ {{price1}}</option>
                        <option [value]="0">Sin precio máximo</option>
                    </select>
                    <a class="col-sm-2"></a>
                    <select name="select" class="form-control form-control-primary col-sm-2" #y (change)="setMinYear(y.value)">
                        <option [value]="0">Año desde</option>
                        <option *ngFor="let anio1 of anios" [value]="anio1">{{anio1}}</option>
                    </select>
                    <select name="select" class="form-control form-control-primary col-sm-2" #z (change)="setMaxYear(z.value)">
                      <option [value]="0">Año hasta</option>
                      <option *ngFor="let anio1 of anios" [value]="anio1">{{anio1}}</option>
                  </select>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                        <button (click)="search()" type="button" class="btn btn-primary waves-effect waves-light m-r-10">Buscar
                        </button>
                </div>
            </div>
          </form-->
  </div>
</div>
<!-- round card start -->
<div class="card" style="background:transparent;">
    <div class="card-header">
        <h5>Vehículos</h5>
        <div class="card-header-right">
            <i class="icofont icofont-rounded-down"></i>
            <i class="icofont icofont-refresh"></i>
            <i class="icofont icofont-close-circled"></i>
        </div>
    </div>
    <div class="card-block">
        <div class="row users-card justify-content-center">

            <div class="wrap-card" *ngFor="let item of itemList">
                <div class="card-items">
                    <div class="card-img">
                        <a href="/itemDetail/{{item.itemId}}" class="content-img d-flex align-items-center">
                            <img src="{{BUCKET_URL}}{{item.principalImage}}" alt="">
                        </a>
                        <div class="heart-img" [hidden]=isFavortite(item.itemId) (click)="addToFavorites(item.itemId)">
                            <!--i class="icofont icofont-heart-alt f-20"></i-->
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <div class="heart-img-2" [hidden]=!isFavortite(item.itemId) (click)="deleteToFavorites(item.itemId)">
                            <!--i class="icofont icofont-heart-alt f-20"></i-->
                            <i class="fa fa-heart"></i>
                        </div>
                        <div [hidden]="item.productPagoEnvio!='gratis'" class="car-img">
                            <img src="assets/images/car.png" alt="">
                        </div>
                    </div>
                    <a href="/itemDetail/{{item.itemId}}" class="card-desc">
                        <div *ngIf="item.priceDiscount>0">
                            <p class="price-past">${{item.priceNormal}}</p>
                        </div>                                    
                        <div class="price d-flex justify-content-between">
                            <span class="price-current">${{item.price}}</span><span class="price-past"></span>
                        </div>
                        <p class="item-name">{{item.name}}</p>
                    </a>
                </div>
                <!--div class="card rounded-card user-card">
                    <div class="card-block">
                        <div class="img-hover">
                            <img class="img-fluid img-circle" width="200" height="200" src="{{BUCKET_URL}}{{item.principalImage}}" alt="round-img">
                            <div class="img-overlay">
                                <span>
                                  <a href="/buy/{{item.itemId}}/1" class="btn btn-sm btn-primary" data-popup="lightbox"><i class="icofont icofont-cart-alt"></i></a>
                                  <a href="/itemDetail/{{item.itemId}}" class="btn btn-sm btn-primary"><i class="icofont icofont-eye"></i></a>
                                </span>
                            </div>
                        </div>
                        <div class="user-content">
                            <h4 class="">{{item.name}}</h4>
                            <h5 class="">{{item.description}}</h5>
                        </div>
                    </div>
                </div-->
            </div>
            
        </div>
    </div>
</div>
<!-- Round card end -->
