#scrolly{
    width: 1000px;
    height: 240px;
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap
}

img{
    width: 250px;
    height: 200px;
    margin: 20px 10px;
    display: inline;
}
.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;  
    .card {
        flex: 0 0 auto;
    }
  }
  @media screen and (max-width: 800px) {
    .phone {        
        display: none;
	}
	.phoneMirrow{
		display: inline;
	}
}
@media screen and (min-width: 801px) {
	.phoneMirrow2{
		display: none;
	}
}
.element.style {
    font-size: 70px;
    color: #f7f7f7;
}
.a {
    color: #ff5e3a;
    text-decoration: none;
}
.categorytext {
    width:100%; 
    height:40%; 
    display:flex; 
    text-align: center; 
    align-items:flex-start; 
    box-sizing: border-box;
    color: #333;
    font-size: 15px;
    padding: 0 12px;
    text-decoration: none;
    width: 100%;
    justify-content: center;
}