<section class=" p-fixed d-flex text-center bg-primary common-img-bg">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->
                <div class="login-card card-block auth-body">
                    <form class="md-float-material">
                        <div class="text-center">
                            <img src="assets/images/auth/logo.png" alt="logo.png">
                        </div>
                        <div class="auth-box">
                            
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center txt-primary">Regístrate. És rápido y fácil.</h3>
                                </div>

                            </div>
                            <p class="text-inverse b-b-default text-left p-b-5">Regístrate fácilmente con su cuenta social:</p>
                            <div class="row m-b-20">
                                <div class="col-md-6">
                                    <button class="btn btn-facebook m-b-0"><i class="icofont icofont-social-facebook"></i>Registrate con Facebook</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-twitter m-b-0"><i class="icofont icofont-social-twitter"></i>Registrate con Twitter</button>
                                </div>
                            </div>
                            <p class="text-inverse b-b-default text-left p-b-5">Regístrate con tu cuenta habitual</p>
                            <div class="row m-b-0">
                            <div class="input-group col-md-6">
                                <input type="text" class="form-control" placeholder="Nombre" name="name" required [(ngModel)]="name">
                                <span class="md-line"></span>
                            </div>
                            <div class="input-group col-md-6">
                                <input type="text" class="form-control" placeholder="Apellido" name="lastname" required [(ngModel)]="lastname">
                                <span class="md-line"></span>
                            </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="error-g col-md-6">
                                    <p  [hidden]="hidName">* Nombre requerido</p>
                                </div>
                                <div class="error-g col-md-6">
                                    <p  [hidden]="hidLastname">* Apellido requerido</p>
                                </div>
                            </div>

                            <div class="row m-b-0">
                            <div class="input-group col-md-6">
                                <input type="text" class="form-control" placeholder="Correo electronico" name="email" required [(ngModel)]="email" (keypress)="keyPressEmail($event)">
                                <span class="md-line"></span>
                            </div>
                            <div class="input-group col-md-6">
                                <input type="password" class="form-control" placeholder="Contraseña" name="password" required [(ngModel)]="password">
                                <span class="md-line"></span>
                            </div>
                            </div>
			                <div class="row m-b-20">
                                <div class="error-g col-md-6">
                                    <p  [hidden]="hidEmail">* Correo electronico requerido</p>
                                </div>
                                <div class="error-g col-md-6">
                                    <p  [hidden]="hidPassword">* Contraseña requerida</p>
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-md-6">
                                    <div class="checkbox-fade fade-in-primary">
                                        <label>
                                            <input type="checkbox" value="" name="condition" [(ngModel)]="cbxPersona">
                                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                            <span class="text-inverse">Leo y acepto <a href="https://s3-us-west-2.amazonaws.com/jsa-s3-bucketimage/politicas/terminos-y-condiciones-de-uso.pdf">Terminos &amp; Condiciones.</a></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox-fade fade-in-primary">
                                        <label>
                                            <input type="checkbox" value="" name="business" [(ngModel)]="business">
                                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                            <span class="text-inverse">Regístrarme como empresa</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" (click)="onSubmit()">Regístrese ahora.</button>
                                </div>
                                <div class="col-md-6">
                                    <a class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" href="javascript:history.back(-1);">Cancelar.</a>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-inverse text-left m-b-0">Gracias y disfrute de nuestro sitio web.</p>
                                    <p class="text-inverse text-left"><b>Su equipo de autentificación</b></p>
                                </div>
                                <div class="col-md-2">
                                    <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- end of form -->
                </div>
                <!-- Authentication card end -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>

<div class="content_popup_g" align="center" [hidden]="popup_g">
    <div class="popup_g">
        <p class="popup-title">SOLICITUD EN PROCESO</p>
        <img src="assets/images/spiner.gif" alt="Cargando">
        <p class="popup-msg">Por favor espere...</p>
    </div>
</div>

<!--

  
-->