<!-- Main-body start -->
<div class="main-body">
  <div class="page-wrapper">
      <!-- Page-header start -->
      <div class="page-header">
          <div class="page-header-title">
              <h4>Preguntas sin responder</h4>
          </div>
          <div class="page-header-breadcrumb">
              <ul class="breadcrumb-title">
                  <li class="breadcrumb-item">
                      <a href="index.html">
                          <i class="icofont icofont-home"></i>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a routerLink="/query">Preguntas sin responder</a>
                  </li>
              </ul>
          </div>
      </div>
      <!-- Page-header end -->
      <!-- Page-body start -->
      <div class="page-body">
          <div class="row">
              <div class="col-sm-12">
                  <!-- Blog card start -->
                  <div class="card blog-page">
                      <div class="card-block">
                          <div class="container-fluid">
                              <div class="row">
                                  <div id="comment-section" class="comment-single col-md-12">
                                      <h4 class="m-b-0 m-t-20">{{queriesNumber}} Preguntas</h4>
                                      <hr class="m-t-20 m-b-20">
                                      <div class="md-float-material">
                                            <div class="input-group input-group-button">
                                                <span class="input-group-addon">
                                                    <i class="icofont icofont-comment"></i>
                                                </span>
                                                <input type="text" class="form-control" name="answer" [(ngModel)]="answer" placeholder="Redactar respuesta">
                                            </div>
                                          </div>
                                      
                                      <div>
                                          <ul class="media-list">
                                              <li class="media" *ngFor="let query of queries">
                                                  <div class="media-left">
                                                      <a href="#">
                                                          <img class="media-object img-circle comment-img" src="assets/images/avatar-1.png" alt="Generic placeholder image">
                                                      </a>
                                                  </div>
                                                  <div class="media-body blog-s-reply">
                                                      <h6 class="media-heading">{{query.user.username}}
                                                        <span>el: {{query.date}}</span>.  sobre:  <span>{{query.yng_Item.name}}</span>
                                                      </h6>
                                                      <p>{{query.query}}</p>
                                                      <!--<div class="blog-u-comment">
                                                          <span>115 <i class="icofont icofont-curved-up"></i><i class="icofont icofont-curved-down"></i></span>
                                                          <span class="blog-reply"><a href="#!">Reply</a></span><span class="blog-edit"><a href="#!">Edit</a> </span>
                                                      </div>-->
                                                      <hr>
                                                      <!-- Nested media object -->
                                                      <div class="md-float-material">
                                                        <div class="input-group input-group-button">   
                                                            <span class="input-group-addon" id="basic-addon12">
                                                                <button (click)="postAnswerQuery(query)" class="btn btn-primary"><i class="icofont icofont-plus m-r-10"> </i> Responder</button>
                                                            </span>
                                                        </div>
                                                      </div>
                                                      <hr>
                                                  </div>
                                              </li>
                                          </ul>
                                    </div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                  </div>
                  <!-- Blog card end -->
              </div>
          </div>
      </div>
      <!-- Page-body end -->
  </div>
</div>
<!-- Main-body end -->
