<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">
        <!-- Page header start -->
        <div class="page-header">
            <div class="page-header-title">
                <h4>Servicios</h4>
                <span>Encuentra cualquier servicio que estes buscando</span>
            </div>
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/service">Servicios</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Page header end -->
        <!-- Page body start -->
        <div class="page-body">
            <div class="row">
                <!-- Left column start -->
                <div class="col-sm-9">
                    <div class="filter-container">
                        <div class="default-grid">
                            <div class="row">
                              <!--empezar el for de la categoria nivel cero de los servicios-->
                                <div class="col-sm-4 default-grid-item" *ngFor="let category of categoryList">
                                    <!-- Job card start -->
                                    <div class="card">
                                        <a href="/itemsCategory/{{category.categoryId}}"><div class="card-header">
                                            <div class="media">
                                                <a class="media-left media-middle">
                                                    <img class="media-object img-60" src="assets/images/services/{{category.categoryId}}.png" alt="Generic placeholder image">
                                                </a>
                                                <div class="media-body media-middle">
                                                    <div class="company-name">
                                                        <p>{{category.name}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div></a>
                                        <div  class="card-block">
                                            <div *ngFor="let subCategory of subCategoryList[category.categoryId]" class="job-lable">
                                                <a style="cursor: pointer;" href="/itemsCategory/{{subCategory.categoryId}}"><label style="cursor: pointer;" class="label">{{subCategory.name}}</label></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Job card end -->
                                </div>
                              <!-- fin del for -->  
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Left column end -->
                <!-- Right column start -->
                <div class="col-sm-3">
                    <!-- Filter card start inicio de los item servicios-->
                    <div class="card-items" *ngFor="let item of itemList">
                            <div class="card-img">
                                <a href="/itemDetail/{{item.itemId}}" class="content-img d-flex align-items-center">
                                    <img src="{{BUCKET_URL}}{{item.principalImage}}" alt="">
                                </a>
                                <div class="heart-img" [hidden]=isFavortite(item.itemId) (click)="addToFavorites(item.itemId)">
                                    <!--i class="icofont icofont-heart-alt f-20"></i-->
                                    <i class="fa fa-heart-o"></i>
                                </div>
                                <div class="heart-img-2" [hidden]=!isFavortite(item.itemId) (click)="deleteToFavorites(item.itemId)">
                                    <!--i class="icofont icofont-heart-alt f-20"></i-->
                                    <i class="fa fa-heart"></i>
                                </div>
                                <div [hidden]="item.productPagoEnvio!='gratis'" class="car-img">
                                    <img src="assets/images/car.png" alt="">
                                </div>
                            </div>
                            <a href="/itemDetail/{{item.itemId}}" class="card-desc">
                                <div *ngIf="item.priceDiscount>0">
                                    <p class="price-past">${{item.priceNormal}}</p>
                                </div>                                    
                                <div class="price d-flex justify-content-between">
                                    <span class="price-current">${{item.price}}</span><span class="price-past"></span>
                                </div>
                                <p *ngIf="item.type=='Motorized'" class="item-name">{{item.itemYear}} - {{item.kilometer}} km</p>
                                <p *ngIf="item.type=='Property'" class="item-name">{{item.duildedArea}} m2 cubiertos - {{item.ambientes}} ambs.</p>
                                <p class="item-name">{{item.name}}</p>
                                <p *ngIf="item.type=='Motorized'||item.type=='Property'||item.type=='Service'" class="item-name item-ubication">{{item.yng_Ubication.yng_Province.name}}</p>
                            </a>
                        <!--<div class="card prod-view">
                            <div class="prod-item text-center">
                                <div class="prod-img">
                                    <div class="option-hover">
                                        <a href="/buy/{{item.itemId}}/1" class="btn btn-danger btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-cart-alt f-20"></i>
                                        </a>
                                        <a href="/itemDetail/{{item.itemId}}" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-eye-alt f-20"></i>
                                        </a>
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light hvr-bounce-in option-icon">
                                            <i class="icofont icofont-heart-alt f-20"></i>
                                        </button>
                                    </div>
                                    <a href="javascript:void(0)" class="hvr-shrink">
                                        <img src="{{BUCKET_URL}}{{item.principalImage}}" class="img-fluid o-hidden" alt="{{item.principalImage}}">       
                                    </a>
                                    <div class="p-sale">SALE</div>
                                </div>
                                <div class="prod-info">
                                    <h5><a href="javascript:void(0)" class="txt-muted"> {{item.name}} </a></h5>
                                    <div class="stars stars-example-css m-b-10">
                                        <div class="br-wrapper br-theme-css-stars"><select id="example12-css" class="rating-star" name="rating" autocomplete="off" style="display: none;">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select></div>
                                    </div>
                                    <h6 class="txt-danger"><i class="icofont icofont-cur-dollar"></i> {{item.price}}</h6>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <!-- Filter card end -->
                </div>
                <!-- Right column end -->
            </div>
        </div>
        <!-- Page body start -->
    </div>
</div>
<!-- Main-body end -->