.popup {
	background: rgba(100, 100, 100, 0.6);
	position: fixed;
	z-index: 5000;
	border-radius: 10px;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px 0px rgba(#000000, 0.3);
	padding: 30px 15px;
	width: 50%;
	z-index: 5001;
	left: 25%;
	text-align: center;
	border: 5px solid #FF5E3A;
	
}
.popup2 {
	background: rgba(100, 100, 100, 0.6);
	position: fixed;
	z-index: 5000;
	border-radius: 30px;
	position: fixed;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px 0px rgba(#000000, 0.3);
	padding: 30px 15px;
	/* Width of popup can be changed */
	width: 30%;
	z-index: 5001;
	bottom:50%;
	left:35%;
	text-align: center;
	border: 15px solid #FF5E3A;
}
/*********************** ESTILOS MENU EN PANTALLA PEQUEÑA ****************************/
#pcoded nav.pcoded-navbar.completo{
    margin-left: 0;
}

#pcoded .pcoded-navbar.menu-flotante{
    display: none;
    height: auto;
    border-radius: 5px;
}

@media (max-width:992px){
    #pcoded nav.pcoded-navbar.completo{
        display: none;
    }
    #pcoded div.pcoded-content{
        margin-left: 0;
    }
    .page-header{
        margin-top: 30px;
    }
    #pcoded .pcoded-navbar.menu-flotante{
        display: block;
        margin-left: 0;
    }
}

/************************************/
.card .card-block table tr {
    border-top: 1px solid #eceeef;
}
.card .card-block table tr th, .card .card-block table tr td{
	border: none;
	padding-bottom: 0;
	padding-top: 0;
}
/****************** DISEÑO BANNER PERFIL DE USUARIO *********************/
.banner_g{
	position: relative;
	margin-bottom: 200px;
	width: 100%;
}
.banner_g .social-profile{
	margin: 0;
    padding: 5px;
    background: white;
	border-radius: 4px;
	width: 160px;
    height: 160px;
    min-width: 160px;
}
.image-banner{
	object-fit: cover;
	height: 300px;
}
.card-perfil{
	background: transparent;
    position: absolute;
    z-index: 1;
    top: 200px;
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
	align-items: center;
	box-shadow: none;
}
.foto-perfil{
	width: 150px;
	height: 150px;
    object-fit: cover;
}
.card-perfil h4{
	font-size: 1.5em;
}
.card-perfil h5{
	font-size: 1em;
}
.social-icons{
	display: flex;
    justify-content: space-around;
	width: 100%;
}
.social-icons a{
	font-size: 4em;
}

@media (min-width:1024px){
	.banner_g{
		margin-bottom: 70px;
	}
	.card-perfil{
		flex-direction: row;
		bottom: -100px;
		width: auto;
		left: 50px;
		align-items: flex-end;
		bottom: -110px;
	}
	.card-perfil h4{
		font-size: 2em;
		margin-bottom: 5px;
	}
	.card-perfil h5{
    	font-size: .9em;
	}
	.social-follower{
		text-align: left;
		padding: 1rem;
		padding: 0;
		
	}
}