<!-- Main-body start -->
<div class="main-body">
                        
    <div class="banner_g">
        <div class="social-wallpaper">
            <img class="image-banner img-fluid width-100" alt="" src="{{BUCKET_URL}}user/userProfile/{{person.yng_User.profileBanner}}"/>
            <div class="profile-hvr">
                <i (click)="updateBanner()" class="icofont icofont-ui-edit p-r-10"></i>
            </div>
        </div>
        <!-- social-profile card start -->
        <div class="card-perfil card">
            <div class="social-profile">
                <img class="foto-perfil img-fluid width-100" src="{{BUCKET_URL}}user/userProfile/{{person.yng_User.profilePhoto}}" alt="">
                <div class="profile-hvr m-t-15">
                    <i (click)="updteImage()" class="icofont icofont-ui-edit p-r-10"></i>
                </div>
            </div>
            <div class="card-block social-follower">
                <h4>{{person.name}} {{person.lastname}}</h4>
                <h5>VENTAS YINGUL</h5>
                <!--<div class="row follower-counter">
                    <div class="col-md-12 col-lg-4">
                        <div class="txt-primary">485</div>
                        <div>Followings</div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="txt-primary">2k</div>
                        <div>Followers</div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="txt-primary">90</div>
                        <div>Activities</div>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary waves-effect"><i class="icofont icofont-ui-user m-r-10"></i> Add as Friend</button>
                </div>-->
            </div>
            <div class="social-icons">
                <a style="color:#3b5998;" class="fa fa-facebook-square" href="javascript:void(0)"></a>
                <a style="color:#55acee;" class="fa fa-twitter-square" href="javascript:void(0)"></a>
                <a style="color:#125688;" class="fa fa-instagram" href="javascript:void(0)"></a>
                <a style="color:#dd4b39;" class="fa fa-google-plus-square" href="javascript:void(0)"></a>
            </div>
        </div>
        <!-- social-profile card end -->
    </div>
    <div class="page-wrapper">
        <!-- Page-body start -->
        <div class="page-body">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <div class="content social-timeline">
                            <div class="">
                                <!-- Row Starts -->
                                <!--div class="row">
                                    <div class="col-md-12"-->
                                        <!-- Social wallpaper start -->
                                        <!--div class="social-wallpaper">
                                            <img style="max-height: 300px;"src="{{BUCKET_URL}}user/userProfile/{{person.yng_User.profileBanner}}" class="img-fluid width-100" alt="" />
                                            <div class="profile-hvr">
                                                <i (click)="updateBanner()" class="icofont icofont-ui-edit p-r-10"></i>
                                            </div>
                                        </div-->
                                        <!-- Social wallpaper end -->
                                        <!-- Timeline button start -->
                                        <!--<div class="timeline-btn">
                                            <a href="#" class="btn btn-primary waves-effect waves-light m-r-10">follows</a>
                                            <a href="#" class="btn btn-primary waves-effect waves-light">Send Message</a>
                                        </div>-->
                                        <!-- Timeline button end -->
                                    <!--/div>
                                </div-->
                                <!-- Row end -->
                                <!-- Row Starts -->
                                <div class="row">
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-xs-12">
                                        <!-- Social timeline left start -->
                                        <div style="position:static;" class="social-timeline-left">
                                            <!-- Who to follow card start -->
                                            <div class="card">
                                                <div class="social-profile">
                                                    <!--video -->
                                                    <div class="embed-responsive embed-responsive-4by3">
                                                        <iframe *ngIf="video!=null" class="embed-responsive-item" [src]='video'></iframe>
                                                    </div>
                                                    <div class="profile-hvr m-t-15">
                                                        <i (click)="updateVideo()" class="icofont icofont-ui-edit p-r-10"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Who to follow card end -->
                                            <!-- Friends card start -->
                                            <!--<div class="card">
                                                <div class="card-header">
                                                    <h5 class="card-header-text d-inline-block">Friends</h5>
                                                    <span class="label label-primary f-right"> See 12 More </span>
                                                </div>
                                                <div class="card-block friend-box">
                                                    <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="">
                                                    <img class="media-object img-circle" src="assets/images/avatar-2.png" alt="">
                                                    <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="">
                                                    <img class="media-object img-circle" src="assets/images/avatar-4.png" alt="">
                                                    <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="">
                                                    <img class="media-object img-circle" src="assets/images/avatar-4.png" alt="">
                                                    <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="">
                                                    <img class="media-object img-circle" src="assets/images/avatar-2.png" alt="">
                                                </div>
                                            </div>-->
                                            <!-- Friends card end -->
                                        </div>
                                        <!-- Social timeline left end -->
                                    </div>
                                    <div class="col-xl-9 col-lg-8 col-md-8 col-xs-12 ">
                                        <!-- Nav tabs -->
                                        <!--<div class="card social-tabs">
                                            <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">Timeline</a>
                                                    <div class="slide"></div>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#about" role="tab">About</a>
                                                    <div class="slide"></div>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#photos" role="tab">Photos</a>
                                                    <div class="slide"></div>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#friends" role="tab">Friends</a>
                                                    <div class="slide"></div>
                                                </li>
                                            </ul>
                                        </div>-->
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <!-- Timeline tab start -->
                                            <div class="tab-pane active" id="timeline">
                                                <!-- Page-header start -->
                                                <div class="page-header">
                                                        <div class="page-header-title">
                                                            <h4>Mis datos</h4>
                                                        </div>
                                                        <div class="page-header-breadcrumb">
                                                            <ul class="breadcrumb-title">
                                                                <li class="breadcrumb-item">
                                                                    <a href="/index">
                                                                        <i class="icofont icofont-home"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="breadcrumb-item"><a href="/userFront">Mi cuenta</a>
                                                                </li>
                                                                <li class="breadcrumb-item"><a href="/userFront/userProfile">Mis datos</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- Page-header end -->
                                                <!-- personal card start -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-header-text">Mis Datos</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="view-info">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="general-info">
                                                                        <div class="row">
                                                                            <p class="col-12 col-sm-4 text-left font-weight-bold" scope="row">Datos de cuenta</p>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-lg-12 col-xl-6">
                                                                                <table class="table m-0">
                                                                                    <tbody>
                                                                                        <tr class="row">
                                                                                            <th class="col-12 col-sm-4" scope="row">Usuario</th>
                                                                                            <td>{{person.yng_User.username}} <a style="cursor: pointer; color:#0275d8;" (click)="updateUsername()">Modificar</a></td>
                                                                                        </tr>
                                                                                        <tr class="row">
                                                                                            <th class="col-12 col-sm-4" scope="row">Clave</th>
                                                                                            <td>********** <a style="cursor: pointer; color:#0275d8;" (click)="updatePassword()" >Modificar</a></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <!-- end of table col-lg-6 -->
                                                                            <div class="col-lg-12 col-xl-6">
                                                                                <table class="table">
                                                                                    <tbody>
                                                                                        <tr class="row">
                                                                                            <th class="col-12 col-sm-4" scope="row">E-mail</th>
                                                                                            <td>{{person.yng_User.email}} <a style="cursor: pointer; color:#0275d8;" (click)="updateEmail()">Modificar</a></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <p class="col-12 col-sm-4 text-left font-weight-bold" scope="row">Datos personales</p>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-lg-12 col-xl-6">
                                                                                <table class="table m-0">
                                                                                    <tbody>
                                                                                        <tr class="row">
                                                                                            <th class="col-12 col-sm-4" scope="row">Nombre y apellido</th>
                                                                                            <td>{{person.name}} {{person.lastname}}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <!-- end of table col-lg-6 -->
                                                                            <div class="col-lg-12 col-xl-6">
                                                                                <table class="table">
                                                                                    <tbody>
                                                                                        <tr class="row">
                                                                                            <th class="col-12 col-sm-4" scope="row">Teléfono</th>
                                                                                            <td *ngIf="!person.yng_User.phone&&!person.yng_User.phone2" ><a style="cursor: pointer; color:#0275d8;" (click)="setPhone()">Agregar</a></td>
                                                                                            <td *ngIf="person.yng_User.phone&&!person.yng_User.phone2" >{{phone}} <a style="cursor: pointer; color:#0275d8;" (click)="updatePhone()">Modificar</a> | <a style="cursor: pointer; color:#0275d8;" (click)="setPhone2()">Agregar</a></td>
                                                                                            <td *ngIf="person.yng_User.phone&&person.yng_User.phone2" >{{phone}} / {{phone2}} <a style="cursor: pointer; color:#0275d8;" (click)="updatePhones()">Modificar</a></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <!-- end of table col-lg-6 -->
                                                                        </div>
                                                                        <!-- end of row -->
                                                                    </div>
                                                                    <!-- end of general info -->
                                                                </div>
                                                                <!-- end of col-lg-12 -->
                                                            </div>
                                                            <!-- end of row -->
                                                        </div>
                                                        <!-- end of view-info -->
                                                    </div>
                                                    <!-- end of card-block -->
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5 class="card-header-text">Domicilios</h5>
                                                            </div>
                                                            <div class="card-block user-desc">
                                                                <div class="view-desc">
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- personal card end-->
                                            </div>
                                            <!-- Timeline tab end -->
                                            <!-- About tab start  aqui si se quiere mejor el usuario se puede recuperar los apartados de la plantilla timeline-social-->
                                            
                                            <!-- About tab end -->
                                            <!-- Photos tab start -->
                                            
                                            <!-- Photos tab end -->
                                            <!-- Friends tab start -->
                                            
                                            <!-- Friends tab end -->
                                        </div>
                                        <!-- Row end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page-body end -->
    </div>
</div>
<!-- Main-body end --> 
<div class="content_popup_g" align="center" [hidden]="popup_g">
    <div class="popup" [hidden]="popup">

        <div style="position:absolute; top:-35px; right:-35px;">
            <span (click)="popupHide()">
                <i style="font-size:2em; color:white; cursor:pointer;" class="icofont icofont-ui-close"></i>
            </span>
        </div>

        <div class="page-header-title">
            <h3>Modificar Usuario</h3>
            <hr class="m-t-20 m-b-20">
        </div>

        <div class="md-float-material">
            <div class="input-group input-group-button">
                <span class="input-group-addon">
                    <i class="icofont icofont-ui-user"></i>
                </span>
                <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Usuario nuevo" required >
            </div>
        </div>
        <hr class="m-t-20 m-b-20">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="confirm()">CONFIRMAR
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="popup" [hidden]="popup10">
        <div style="position:absolute; top:-35px; right:-35px;">
            <span (click)="popupHide()">
                <i style="font-size:2em; color:white; cursor:pointer;" class="icofont icofont-ui-close"></i>
            </span>
        </div>

        <div class="page-header-title">
            <h3>Modificar foto de Perfil</h3>
            <hr class="m-t-20 m-b-20">
        </div>

        <div class="md-float-material text-center">
            <div class="row fondo-img-g">
                <div id="image-preview1" style="margin:auto;">
                    <label for="image-upload1" id="image-label1">Foto Principal</label>
                    <input type="file" name="image-upload1" id="image-upload1" />
                </div>
            </div>
        </div>

        <hr class="m-t-20 m-b-20">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="sendProfilePhoto()">CONFIRMAR
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="popup" [hidden]="popup12">
        <div style="position:absolute; top:-35px; right:-35px;">
            <span (click)="popupHide()">
                <i style="font-size:2em; color:white; cursor:pointer;" class="icofont icofont-ui-close"></i>
            </span>
        </div>

        <div class="page-header-title">
            <h3>Modificar Banner de Perfil</h3>
            <hr class="m-t-20 m-b-20">
        </div>

        <div class="md-float-material text-center">
            <div class="row fondo-img-g">
                <div id="image-preview2" style="margin:auto;">
                    <label for="image-upload2" id="image-label2">Foto</label>
                    <input type="file" name="image-upload2" id="image-upload2" />
                </div>
            </div>
        </div>

        <hr class="m-t-20 m-b-20">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="sendProfileBanner()">CONFIRMAR
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="popup" [hidden]="popup3">
        <div style="position:absolute; top:-35px; right:-35px;">
            <span (click)="popupHide()">
                <i style="font-size:2em; color:white; cursor:pointer;" class="icofont icofont-ui-close"></i>
            </span>
        </div>

        <div class="page-header-title">
            <h3>Modificar e-mail</h3>
            <hr class="m-t-20 m-b-20">
        </div>

        <div class="md-float-material">
            <div class="input-group input-group-button">
                <span class="input-group-addon">
                    <i class="icofont icofont-email"></i>
                </span>
                <input type="text" class="form-control" name="email" [(ngModel)]="email" placeholder="E-mail nuevo" required (keypress)="keyPressEmail($event)">
            </div>
        </div>
        <div class="md-float-material">
            <div class="input-group input-group-button">
                <span class="input-group-addon">
                    <i class="icofont icofont-email"></i>
                </span>
                <input type="text" class="form-control" name="email2" [(ngModel)]="email2" placeholder="Repetir E-mail nuevo" required (keypress)="keyPressEmail($event)">
            </div>
        </div>
        <hr class="m-t-20 m-b-20">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="confirmEmail()">CONFIRMAR
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="popup" [hidden]="popup4">
        <div style="position:absolute; top:-35px; right:-35px;">
            <span (click)="popupHide()">
                <i style="font-size:2em; color:white; cursor:pointer;" class="icofont icofont-ui-close"></i>
            </span>
        </div>

        <div class="page-header-title">
            <h3>Cambiar clave</h3>
            <hr class="m-t-20 m-b-20">
        </div>

        <div class="md-float-material">
            <div class="input-group input-group-button">
                <span class="input-group-addon">
                    <i class="icofont icofont-ui-password"></i>
                </span>
                <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Clave nueva" required >
            </div>
        </div>
        <div class="md-float-material">
            <div class="input-group input-group-button">
                <span class="input-group-addon">
                    <i class="icofont icofont-ui-password"></i>
                </span>
                <input type="password" class="form-control" name="password2" [(ngModel)]="password2" placeholder="Repetir clave nueva" required >
            </div>
        </div>
        <hr class="m-t-20 m-b-20">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="confirmPassword()">CONFIRMAR
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="popup" [hidden]="popup5">
        <div style="position:absolute; top:-35px; right:-35px;">
            <span (click)="popupHide()">
                <i style="font-size:2em; color:white; cursor:pointer;" class="icofont icofont-ui-close"></i>
            </span>
        </div>

        <div class="page-header-title">
            <h3>Teléfonos</h3>
            <hr class="m-t-20 m-b-20">
        </div>

        <div class="md-float-material">
            <div class="input-group input-group-button">
                <span class="input-group-addon">
                    <i class="icofont icofont-phone">Teléfono</i>
                </span>
                <input type="text" class="form-control" name="phone" [(ngModel)]="phone" placeholder="Ej. (11) 4323-4556" required >
            </div>
        </div>
        <div class="md-float-material">
            <div class="input-group input-group-button">
                <span class="input-group-addon">
                    <i class="icofont icofont-phone">Teléfono alternativo</i>
                </span>
                <input type="text" class="form-control" name="phone2" [(ngModel)]="phone2" placeholder="Ej. (11) 4323-4556" required >
            </div>
        </div>
        <hr class="m-t-20 m-b-20">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="sendPhones()">CONFIRMAR
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="popup" [hidden]="popup11">
        <div style="position:absolute; top:-35px; right:-35px;">
            <span (click)="popupHide()">
                <i style="font-size:2em; color:white; cursor:pointer;" class="icofont icofont-ui-close"></i>
            </span>
        </div>

        <div class="page-header-title">
            <h3>Teléfono Principal</h3>
            <hr class="m-t-20 m-b-20">
        </div>

        <div class="md-float-material">
            <div class="input-group input-group-button">
                <span class="input-group-addon">
                    <i class="icofont icofont-phone">Teléfono</i>
                </span>
                <input type="text" class="form-control" name="phone" [(ngModel)]="phone" placeholder="Ej. (11) 4323-4556" required >
            </div>
        </div>
        <hr class="m-t-20 m-b-20">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="sendPhone()">CONFIRMAR
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="popup" [hidden]="popup6">

        <div style="position:absolute; top:-35px; right:-35px;">
            <span (click)="popupHide()">
                <i style="font-size:2em; color:white; cursor:pointer;" class="icofont icofont-ui-close"></i>
            </span>
        </div>

        <div class="page-header-title">
            <h3>Modificar Video</h3>
            <hr class="m-t-20 m-b-20">
        </div>

        <div class="md-float-material">
            <div class="input-group input-group-button">
                <span class="input-group-addon">
                    <i class="icofont icofont-ui-user"></i>
                </span>
                <input type="text" class="form-control" name="video1" [(ngModel)]="video1" placeholder="Video nuevo (link Youtube)" required >
            </div>
        </div>
        <hr class="m-t-20 m-b-20">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="sendVideo()">CONFIRMAR
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="popup" [hidden]="popup7">

        <!--<div style="position:absolute; top:-35px; right:-35px;">
            <span (click)="popupHide()">
                <i style="font-size:2em; color:white; cursor:pointer;" class="icofont icofont-ui-close"></i>
            </span>
        </div>-->

        <div class="page-header-title">
            <h3>Escriba su contraseña actual para continuar</h3>
            <hr class="m-t-20 m-b-20">
        </div>

        <div class="md-float-material">
            <div class="input-group input-group-button">
                <span class="input-group-addon">
                    <i class="icofont icofont-ui-user"></i>
                </span>
                <input type="password" class="form-control" name="passwordValited" [(ngModel)]="passwordValited" placeholder="Contraseña actual" required >
            </div>
        </div>
        <hr class="m-t-20 m-b-20">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="sendUsername()">CONFIRMAR
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="popup" [hidden]="popup8">
        <!--<div style="position:absolute; top:-35px; right:-35px;">
            <span (click)="popupHide()">
                <i style="font-size:2em; color:white; cursor:pointer;" class="icofont icofont-ui-close"></i>
            </span>
        </div>-->

        <div class="page-header-title">
            <h3>Escriba su contraseña actual para continuar</h3>
            <hr class="m-t-20 m-b-20">
        </div>

        <div class="md-float-material">
            <div class="input-group input-group-button">
                <span class="input-group-addon">
                    <i class="icofont icofont-ui-user"></i>
                </span>
                <input type="password" class="form-control" name="passwordValited" [(ngModel)]="passwordValited" placeholder="Contraseña actual" required >
            </div>
        </div>
        <hr class="m-t-20 m-b-20">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="sendEmail()">CONFIRMAR
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="popup" [hidden]="popup9">
        <!--<div style="position:absolute; top:-35px; right:-35px;">
            <span (click)="popupHide()">
                <i style="font-size:2em; color:white; cursor:pointer;" class="icofont icofont-ui-close"></i>
            </span>
        </div>-->

        <div class="page-header-title">
            <h3>Escriba su contraseña actual para continuar</h3>
            <hr class="m-t-20 m-b-20">
        </div>

        <div class="md-float-material">
            <div class="input-group input-group-button">
                <span class="input-group-addon">
                    <i class="icofont icofont-ui-user"></i>
                </span>
                <input type="password" class="form-control" name="passwordValited" [(ngModel)]="passwordValited" placeholder="Contraseña actual" required >
            </div>
        </div>
        <hr class="m-t-20 m-b-20">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="sendPassword()">CONFIRMAR
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="popup2" align="center" [hidden]="popup2">
        <div class="page-header-title">
            <h3>SOLICITUD EN PROCESO</h3>
            <img width="70" heigth="70" src="assets/images/spiner.gif" alt="Cargando">
            <br>
            <br>
            <h4>Por Favor espere</h4>
        </div>
    </div>
</div>