.popup {
	background: rgba(100, 100, 100, 0.6);
	position: fixed;
	z-index: 5000;
	border-radius: 10px;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px 0px rgba(#000000, 0.3);
	padding: 30px 15px;
	width: 50%;
	z-index: 5001;
	left: 25%;
	text-align: center;
	border: 5px solid #FF5E3A;
	
}
.popup2 {
	background: rgba(100, 100, 100, 0.6);
	position: fixed;
	z-index: 5000;
	border-radius: 30px;
	position: fixed;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px 0px rgba(#000000, 0.3);
	padding: 30px 15px;
	/* Width of popup can be changed */
	width: 30%;
	z-index: 5001;
	bottom:50%;
	left:35%;
	text-align: center;
	border: 15px solid #FF5E3A;
}
/*********************** ESTILOS MENU EN PANTALLA PEQUEÑA ****************************/
#pcoded nav.pcoded-navbar.completo{
    margin-left: 0;
}

#pcoded .pcoded-navbar.menu-flotante{
    display: none;
    height: auto;
    border-radius: 5px;
}

@media (max-width:992px){
    #pcoded nav.pcoded-navbar.completo{
        display: none;
    }
    #pcoded div.pcoded-content{
        margin-left: 0;
    }
    .page-header{
        margin-top: 30px;
    }
    #pcoded .pcoded-navbar.menu-flotante{
        display: block;
        margin-left: 0;
    }
}

/************************************/
.card .card-block table tr {
    border-top: 1px solid #eceeef;
}
.card .card-block table tr th, .card .card-block table tr td{
	border: none;
	padding-bottom: 0;
	padding-top: 0;
}
/****************** DISEÑO BANNER PERFIL DE USUARIO *********************/
.banner_g{
	position: relative;
    width: 100%;
}
.social-wallpaper{
    margin-bottom: 70px;
}
.foto{
    position: absolute;
    bottom: -75px;
    width: 100%;
}
.social-profile{
	margin: 0 auto;
    padding: 5px;
    background: white;
    border-radius: 4px;
    width: 160px;
    height: 160px;
    min-width: 160px;
}
.foto-perfil{
    height: 100%;
    object-fit: cover;
}
.image-banner{
	object-fit: cover;
	height: 300px;
}
.card-perfil h4{
	font-size: 1.5em;
}
.card-perfil h5{
	font-size: 1em;
}
.social-icons{
	display: flex;
    justify-content: space-around;
} 
.social-icons a{
	font-size: 4em;
}

@media (min-width:1024px){
    .social-wallpaper{
        margin-bottom: 0;
    }
    .social-profile{
        margin-left: 100px;
    }
    .card-perfil{
        flex-direction: row;
        margin-left: 250px;
    }
    .social-follower{
        text-align: left;
    }
    .social-icons{
		min-width: 350px;
		padding: 20px 0;
    }
	.card-perfil h4{
		font-size: 2em;
		margin-bottom: 5px;
	}
	.card-perfil h5{
    	font-size: .9em;
	}
}