<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">
        <!-- Page-header start -->
        <div class="page-header">
            <div class="page-header-title">
                <h4>Mis datos</h4>
            </div>
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="/index">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/userFront">Mi cuenta</a>
                    </li>
                    <li class="breadcrumb-item"><a href="/userProfile">Mis datos</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Page-header end -->
        <!-- Page-body start -->
        <div class="page-body">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <div class="content social-timeline">
                            <div class="">
                                <!-- Row Starts -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- Social wallpaper start -->
                                        <div class="social-wallpaper">
                                            <img src="assets/images/social/img1.jpg" class="img-fluid width-100" alt="" />
                                            <div class="profile-hvr">
                                                <i class="icofont icofont-ui-edit p-r-10"></i>
                                                <i class="icofont icofont-ui-delete"></i>
                                            </div>
                                        </div>
                                        <!-- Social wallpaper end -->
                                        <!-- Timeline button start -->
                                        <!--<div class="timeline-btn">
                                            <a href="#" class="btn btn-primary waves-effect waves-light m-r-10">follows</a>
                                            <a href="#" class="btn btn-primary waves-effect waves-light">Send Message</a>
                                        </div>-->
                                        <!-- Timeline button end -->
                                    </div>
                                </div>
                                <!-- Row end -->
                                <!-- Row Starts -->
                                <div class="row">
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-xs-12">
                                        <!-- Social timeline left start -->
                                        <div class="social-timeline-left">
                                            <!-- social-profile card start -->
                                            <div class="card">
                                                <div class="social-profile">
                                                    <img class="img-fluid width-100" src="assets/images/social/profile.jpg" alt="">
                                                    <div class="profile-hvr m-t-15">
                                                        <i class="icofont icofont-ui-edit p-r-10"></i>
                                                        <i class="icofont icofont-ui-delete"></i>
                                                    </div>
                                                </div>
                                                <div class="card-block social-follower">
                                                    <h4>Josephin Villa</h4>
                                                    <h5>Softwear Engineer</h5>
                                                    <!--<div class="row follower-counter">
                                                        <div class="col-md-12 col-lg-4">
                                                            <div class="txt-primary">485</div>
                                                            <div>Followings</div>
                                                        </div>
                                                        <div class="col-md-12 col-lg-4">
                                                            <div class="txt-primary">2k</div>
                                                            <div>Followers</div>
                                                        </div>
                                                        <div class="col-md-12 col-lg-4">
                                                            <div class="txt-primary">90</div>
                                                            <div>Activities</div>
                                                        </div>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-outline-primary waves-effect"><i class="icofont icofont-ui-user m-r-10"></i> Add as Friend</button>
                                                    </div>-->
                                                </div>
                                            </div>
                                            <!-- social-profile card end -->
                                            <!-- Who to follow card start -->
                                            <div class="card">
                                              <div class="social-profile">
                                                  <img class="img-fluid width-100" src="assets/images/social/profile.jpg" alt="">
                                                  <div class="profile-hvr m-t-15">
                                                      <i class="icofont icofont-ui-edit p-r-10"></i>
                                                      <i class="icofont icofont-ui-delete"></i>
                                                  </div>
                                              </div>
                                            </div>
                                            <!-- Who to follow card end -->
                                            <!-- Friends card start -->
                                            <!--<div class="card">
                                                <div class="card-header">
                                                    <h5 class="card-header-text d-inline-block">Friends</h5>
                                                    <span class="label label-primary f-right"> See 12 More </span>
                                                </div>
                                                <div class="card-block friend-box">
                                                    <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="">
                                                    <img class="media-object img-circle" src="assets/images/avatar-2.png" alt="">
                                                    <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="">
                                                    <img class="media-object img-circle" src="assets/images/avatar-4.png" alt="">
                                                    <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="">
                                                    <img class="media-object img-circle" src="assets/images/avatar-4.png" alt="">
                                                    <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="">
                                                    <img class="media-object img-circle" src="assets/images/avatar-2.png" alt="">
                                                </div>
                                            </div>-->
                                            <!-- Friends card end -->
                                        </div>
                                        <!-- Social timeline left end -->
                                    </div>
                                    <div class="col-xl-9 col-lg-8 col-md-8 col-xs-12 ">
                                        <!-- Nav tabs -->
                                        <!--<div class="card social-tabs">
                                            <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">Timeline</a>
                                                    <div class="slide"></div>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#about" role="tab">About</a>
                                                    <div class="slide"></div>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#photos" role="tab">Photos</a>
                                                    <div class="slide"></div>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#friends" role="tab">Friends</a>
                                                    <div class="slide"></div>
                                                </li>
                                            </ul>
                                        </div>-->
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <!-- Timeline tab start -->
                                            <div class="tab-pane active" id="timeline">
                                                <!-- personal card start -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-header-text">Mis Datos</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="view-info">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="general-info">
                                                                        <div class="row">
                                                                            <div class="col-lg-12 col-xl-6">
                                                                                <table class="table m-0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <th scope="row">Datos de cuenta</th>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th scope="row">Usuario</th>
                                                                                            <td>{{person.yng_User.username}} <a style="cursor: pointer; color:#0275d8;" (click)="updateUsername()">Modificar</a></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th scope="row">Clave</th>
                                                                                            <td>********** <a style="cursor: pointer; color:#0275d8;" (click)="updatePassword()" >Modificar</a></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <!-- end of table col-lg-6 -->
                                                                            <div class="col-lg-12 col-xl-6">
                                                                                <table class="table">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <th scope="row">&nbsp;</th>
                                                                                            <td>&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th scope="row">E-mail</th>
                                                                                            <td>{{person.yng_User.email}} <a style="cursor: pointer; color:#0275d8;" (click)="updateEmail()">Modificar</a></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="col-lg-12 col-xl-6">
                                                                                <table class="table m-0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <th scope="row">Datos personales</th>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th scope="row">Nombre y apellido</th>
                                                                                            <td>{{person.name}} {{person.lastname}}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <!-- end of table col-lg-6 -->
                                                                            <div class="col-lg-12 col-xl-6">
                                                                                <table class="table">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <th scope="row">&nbsp;</th>
                                                                                            <td>&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th scope="row">Teléfono</th>
                                                                                            <td *ngIf="!person.yng_User.phone&&!person.yng_User.phone2" ><a style="cursor: pointer; color:#0275d8;" (click)="setPhone()">Agregar</a></td>
                                                                                            <td *ngIf="person.yng_User.phone&&!person.yng_User.phone2" >{{person.yng_User.phone}} <a style="cursor: pointer; color:#0275d8;" (click)="updatePhone()">Modificar</a> | <a style="cursor: pointer; color:#0275d8;" (click)="setPhone2()">Agregar</a></td>
                                                                                            <td *ngIf="person.yng_User.phone&&person.yng_User.phone2" >{{person.yng_User.phone}} / {{person.yng_User.phone2}} <a style="cursor: pointer; color:#0275d8;" (click)="updatePhones()">Modificar</a></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <!-- end of table col-lg-6 -->
                                                                        </div>
                                                                        <!-- end of row -->
                                                                    </div>
                                                                    <!-- end of general info -->
                                                                </div>
                                                                <!-- end of col-lg-12 -->
                                                            </div>
                                                            <!-- end of row -->
                                                        </div>
                                                        <!-- end of view-info -->
                                                    </div>
                                                    <!-- end of card-block -->
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5 class="card-header-text">Domicilios</h5>
                                                            </div>
                                                            <div class="card-block user-desc">
                                                                <div class="view-desc">
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- personal card end-->
                                            </div>
                                            <!-- Timeline tab end -->
                                            <!-- About tab start  aqui si se quiere mejor el usuario se puede recuperar los apartados de la plantilla timeline-social-->
                                            
                                            <!-- About tab end -->
                                            <!-- Photos tab start -->
                                            
                                            <!-- Photos tab end -->
                                            <!-- Friends tab start -->
                                            
                                            <!-- Friends tab end -->
                                        </div>
                                        <!-- Row end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page-body end -->
    </div>
</div>
<!-- Main-body end -->