<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">
        <!-- Page-header start -->
        <div class="page-header">
            <div class="page-header-title">
                <h4>Retirar</h4>
                <span>Puedes retirar tu dinero de Yingul Pay si lo deseas</span>
            </div>
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="/index">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/frontYingulPay">Yingul Pay</a>
                    </li>
                    <li class="breadcrumb-item"><a href="/withdraw">Retirar</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Page-header end -->
        <!-- Page-body start -->
        <div class="page-body">
            <!-- Input Group With Components card end -->
            <div class="card">
                <div class="card-header">
                    <h5>Ingresa tus datos bancarios</h5>
                    <span>* Datos obligatorios</span>
                    <div class="card-header-right">
                        <i class="icofont icofont-rounded-down"></i>
                        <i class="icofont icofont-refresh"></i>
                        <i class="icofont icofont-close-circled"></i>
                    </div>
                </div>
                <div class="card-block">
                    <form>
                        <div class="row">
                            <label class="col-sm-4 col-lg-2 col-form-label">Nombre del titular: *</label>
                            <div class="col-sm-8 col-lg-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-ui-volume"></i></span>
                                    <input type="text" class="form-control" placeholder="Normal Text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 col-lg-2 col-form-label">CUIT/CUIL: *</label>
                            <div class="col-sm-8 col-lg-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-ui-volume"></i></span>
                                    <input type="text" class="form-control form-control-bold" placeholder=".form-control-bold">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 col-lg-2 col-form-label">Banco: *</label>
                            <div class="col-sm-8 col-lg-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-ui-volume"></i></span>
                                    <input type="text" class="form-control form-control-capitalize" placeholder=".form-control-capitalize">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 col-lg-2 col-form-label">Tipo de cuenta: *</label>
                            <div class="col-sm-8 col-lg-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-ui-volume"></i></span>
                                    <input type="text" class="form-control form-control-uppercase" placeholder=".form-control-uppercase">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 col-lg-2 col-form-label">CBU: *</label>
                            <div class="col-sm-8 col-lg-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-ui-volume"></i></span>
                                    <input type="text" class="form-control form-control-lowercase" placeholder=".form-control-lowercase">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 col-lg-2 col-form-label">Monto a retirar: *</label>
                            <div class="col-sm-8 col-lg-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-ui-volume"></i></span>
                                    <input type="text" class="form-control form-control-variant" placeholder=".form-control-variant">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary waves-effect waves-light m-r-10"><i class="icofont icofont-arrow-down"></i>Iniciar Retiro
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Page-body end -->
    </div>
</div>
