<div class="image" style="width:100%">
  <img class="mySlides" src="assets/images/inmuebleBanner.jpg" style="width:100%">
  <div class="content-title">
    <div>
        <p align="center" class="prev"><span >Propiedades en venta y alquiler</span></p>
        <h4 align="center" class="title"><span >Tu hogar está acá</span></h4>
    </div>
  </div>
  <div align= "center" class="form">
    <form class="md-float-material card-block">
        <div class="row">
            <div class="col-sm-12">
                <label class="form-title">Búsqueda</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <select name="select" class="form-control element" #t (change)="getSubCategory(t.value)">
                            <option [value]="0" disabled>Seleccione el tipo</option>
                            <option *ngFor="let category of categoryList" [value]="category.categoryId">{{category.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <select name="vsubcategory" [(ngModel)]="vsubcategory" class="form-control" #u (change)="setSubCategory(u.value)">
                            <option [value]="0" disabled >Seleccione la condición</option>
                            <option *ngFor="let category of subCategoryList" [value]="category.categoryId">{{category.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Ingresá Barrio o Ciudad" name="city" [(ngModel)]="city" (input)="onSearchChange($event.target.value)" list="cityList">
                        <datalist id="cityList">
                            <option *ngFor="let city of cities" value="{{city.name}}, {{city.yng_Province.name}}"></option>
                        </datalist>        
                    </div>
                </div>
            </div>
        </div>
      <hr>
      <div class="row">
          <div class="col-sm-12">
            <button (click)="search()" type="button" class="btn btn-primary waves-effect waves-light m-r-10">Buscar
            </button>
          </div>
      </div>
    </form>
  </div>
</div>

<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">
        <!-- Page body start -->
        <div class="page-body masonry-page">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Gallery with description card start -->
                    <div class="card" style="background:transparent;">
                        <div class="card-header">
                            <h5>Inmuebles</h5>
                            <div class="card-header-right">
                                <i class="icofont icofont-rounded-down"></i>
                                <i class="icofont icofont-refresh"></i>
                                <i class="icofont icofont-close-circled"></i>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="default-grid">
                                <div class="row lightboxgallery-popup justify-content-center">
                                    <!--ng for -->
                                    <div class="wrap-card" *ngFor="let item of itemList">
                                        <div class="card-items">
                                            <div class="card-img">
                                                <a href="/itemDetail/{{item.itemId}}" class="content-img d-flex align-items-center">
                                                    <img src="{{BUCKET_URL}}{{item.principalImage}}" alt="">
                                                </a>
                                                <div class="heart-img" [hidden]=isFavortite(item.itemId) (click)="addToFavorites(item.itemId)">
                                                    <!--i class="icofont icofont-heart-alt f-20"></i-->
                                                    <i class="fa fa-heart-o"></i>
                                                </div>
                                                <div class="heart-img-2" [hidden]=!isFavortite(item.itemId) (click)="deleteToFavorites(item.itemId)">
                                                    <!--i class="icofont icofont-heart-alt f-20"></i-->
                                                    <i class="fa fa-heart"></i>
                                                </div>
                                                <div [hidden]="item.productPagoEnvio!='gratis'" class="car-img">
                                                    <img src="assets/images/car.png" alt="">
                                                </div>
                                            </div>
                                            <a href="/itemDetail/{{item.itemId}}" class="card-desc">
                                                <div *ngIf="item.priceDiscount>0">
                                                    <p class="price-past">${{item.priceNormal}}</p>
                                                </div>                                    
                                                <div class="price d-flex justify-content-between">
                                                    <span class="price-current">${{item.price}}</span><span class="price-past"></span>
                                                </div>
                                                <p *ngIf="item.type=='Motorized'" class="item-name">{{item.itemYear}} - {{item.kilometer}} km</p>
                                                <p *ngIf="item.type=='Property'" class="item-name">{{item.duildedArea}} m2 cubiertos - {{item.ambientes}} ambs.</p>
                                                <p class="item-name">{{item.name}}</p>
                                                <p *ngIf="item.type=='Motorized'||item.type=='Property'||item.type=='Service'" class="item-name item-ubication">{{item.yng_Ubication.yng_Province.name}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery with description card end -->
                </div>
            </div>
        </div>
        <!-- Page body end -->
    </div>
</div>
<!-- Main-body end -->
