.image {
    position: relative;
    width: 100%; /* for IE 6 */
    top: 0;
    left : 0;
    
}
.prev {
    /*position: absolute;*/
    top: 5%;
    width: 100%;  
    color: white;  
    /*font-size: 50px; */
    text-shadow: -0.3px 0 black, 0 0.3px black, 0.3px 0 black, 0 -0.3px black;
}
.title {
    /*position: absolute;*/
    top: 18%;
    width: 100%;  
    color: white;   
    /*font-size: 100px;*/
    text-shadow: -0.3px 0 black, 0 0.3px black, 0.3px 0 black, 0 -0.3px black;
    font-weight: 600;
}
.form {
    position: absolute;
    top: 50%;
    width: 70%;
    left: 15%;
    background-color:#0000008c;
    margin: 0 auto;
}
.element{
    opacity: 1;
}

/********************** ESTILO RESPONSIVO BANNER MOTORIZED ************************/

.image .content-title{
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color:rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-title div{
    width: 80%;
}
.content-title p{
    font-size: 2.5em;
    font-weight: 600;
}
.content-title h4{
    font-size: 4em;
    font-weight: 700;
}
.image .form{
    width: 40%;
    height: 100%;
    top: 0%;
    left: 60%;
    padding: 0 50px;
    display: flex;
    align-items: center;
}
.form select{
    margin-bottom: 15px;
}
.form select, .form button{
    border-radius: 8px;
}
.form .form-title{
    color: white;
    font-size: 2em;
    font-weight: 700;
}

@media (max-width:992px){
    .image {
        margin-top: 3.5rem;
    }
    .form select{
        margin-bottom: 10px;
    }
    .image .form{
        padding-top: 5px !important;
        /*width: 100%;
        left: 0%;*/
    }
    .content-title p{
        font-size: 1.5em;
        font-weight: 600;
    }
    .content-title h4{
        font-size: 3em;
        font-weight: 700;
    }
}
@media (max-width:768px){
    .image img{
        height: 320px;
    }
    .image .form{
        width: 50%;
        left: 50%;
    }
    .image .content-title{
        width: 50%;
    }
}
@media (max-width:650px){
    .image .form{
        /*padding-top: 5px !important;*/
        width: 100%;
        left: 0%;
    }
    .image .content-title{
        width: 100%;
    }
    .image .content-title{
        background-color:transparent;
    }
}
@media (max-width:576px){
    
}

/********************* ESTILOS SLICK GRANDE G con descripcion*********************/
.wrap-card{
	display: flex;
    justify-content: center;
}
.card-items{
    margin: 8px 8px;
    width: 280px;
    height: 370px;
    border-radius: 4px;
    background: #fff;
    text-decoration: none;
    cursor: pointer;
    display: block;
}
.card-img{
    position: relative;
    height: 65%;
    padding: 7px;
}
.card-img .content-img{
    height: 100%;
    overflow: hidden;
}
.card-img .content-img img{
    width: 100%;
}
.card-desc{
    position: relative;
    max-height: 124px;
    border-radius:0px 0px 4px 4px;
    border-top: 1px solid #ddd;
    transition: all .5s ease;
    padding: 8px 24px;
    display: block;
}
.card-desc span{
    font-size: 1.3em;
    opacity: .8;
}
.card-desc .price-past{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.3em;
    margin: 0;
    text-align: left;
    color: #f00;
}
.card-items:hover .card-desc{
    background: #fff;
} 

.item-name{
    font-size: 12px;
    font-weight: 400;
    color: #333;
    transition: all .3s ease;
    margin-bottom: 1px;
}
.car-img, .heart-img, .heart-img-2{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ddd;
    position: absolute;
    z-index: 2;
    right: 15px;
    bottom: -18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.car-img img{
    width: 70%;
    height: 70%;
}
.heart-img{
    background: rgba(255,255,255,.8);
    border: none;
    display: none;
    right: 15px;
    top: 15px;
}
.heart-img i{
    color: #f00;
    font-size: 15px;
}
.heart-img-2{
    border: none;
    right: 15px;
    top: 15px;
    background: rgba(255,255,255,.8);
}
.heart-img-2 i{
    color: #f00;
    font-size: 15px;
}
.heart-img:hover{
    background: rgba(255,255,255,.8);
}
.heart-img:hover i{
    color: #f00;
}
.card-items:hover .heart-img{
    display: flex;
} 
a.card-desc .item-name-e{
    font-size: 15px;
    color: #666;
}
@media (max-width: 976px){
    .row{
        justify-content: center;
    }
    .slide{
        width: 160px;
        height: 230px;
    }
    .card-items{
        margin: 0 4px 4px;
        width: 135px;
        height: 270px;
    }
    .card-img{
        height: 152px;
    }
    .card-desc{
        height: 74px;
        padding: 7px 7px;
    }
    .card-desc .item-name{
        font-size: 1rem;
    }
    .card-desc .price{
        font-size: 1rem;
    }/*
    .card-items:hover .item-name{
        display: none;
    } */
    .card-items .heart-img{
        display: flex;
    } 
    .item-ubication{
        display: none;
    }
    a.card-desc .item-desc{
        font-size: 10px;
        color: #333;
        line-height: 120%;
    }
    a.card-desc .item-name-e{
        font-size: 12px;
        color: #666;
        line-height: 120%;
    }
}