
<div class="card-img" style="padding: 0; height: 30%;">
    <a href="/createStore" class="content-img d-flex align-items-center">
        <img src="assets/images/banner/slide6.jpg" alt="">
    </a>
</div>

<div class="main-body">
  <div class="page-wrapper">
      <div class="page-header">
          <div class="page-header-title">
              <h4>Yingul Shop</h4>
          </div>
          <div class="page-header-breadcrumb">
              <ul class="breadcrumb-title">
                  <li class="breadcrumb-item">
                      <a href="index">
                          <i class="icofont icofont-home"></i>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="/allStores">Tiendas Oficiales</a>
                  </li>
              </ul>
          </div>
      </div>
        <div class="col">
            <br>
            <div class="row" style="justify-content: center;">
                <div class="col-4 col-sm-3 col-md-2" *ngFor="let store of storeList" style="padding-left: 0;padding-right: 0;">
                    <div class="card-img">
                        <a href="/tiendaOficial/{{store.name}}" class="content-img d-flex align-items-center" style="padding-left: 3px;padding-right: 3px;     background: white; -webkit-border-radius: 5px 5px 5px 5px; border: 1px solid #ccc7c7;">
                            <img src="{{BUCKET_URL}}store/{{store.mainImage}}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>