<div class="main-body">
  <div class="page-wrapper">
      <!-- Page header start -->
      <div class="page-header">
          <div class="page-header-title">
              <h4>Nuestras tiendas oficiales</h4>
              <span>Encuentra lo que buscas de marcas específicas y con garantia de tienda</span>
          </div>
      </div>
      <!-- Page header end -->
      <!-- Page body start -->
          <!-- Product list start -->
          <div align="center">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
              <div ngxSlickItem *ngFor="let store of storeList" class="slide">
                <img class="img-fluid" src='{{BUCKET_URL}}store/{{store.mainImage}}' >
              </div>
            </ngx-slick>
          </div>
          <!-- Product list end -->
          <div>
            <div class="row" align="center">
              <div class="col-md-12 col-xl-6">
                <a href="/allStores"><button class="btn btn-inverse btn-round">Ver todas las tiendas oficiales</button></a>
              </div>
              <div class="col-md-12 col-xl-6">
                <a href="/createStore" ><button class="btn btn-inverse btn-round">Crea tu tienda en Yingul Shop</button></a>
              </div>
            </div>
          </div>

  </div>
</div>