<div class="main-body">
  <div class="page-wrapper">

      <div class="page-body">
          <div class="row">
              <div class="col-sm-12">
                  <!-- Product edit card start -->
                  <div class="card">
                      <div class="card-header">
                          <h5>Modificar publicación </h5>
                      </div>
                      <div class="card-block">
                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="product-edit">
                                       <!-- Tab panes -->
                                      <div class="tab-content">
                                          <div class="tab-pane active" id="home7" role="tabpanel">
                                           
                                            <app-price-edit></app-price-edit>
                                           
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Product edit card end -->
              </div>
          </div>
      </div>
      <!-- Page body end -->
  </div>
</div>
<div class="popup" [hidden]="true">
    <div class="page-header-title">
        <h3>Solicitud en Proceso</h3>
        <hr class="m-t-20 m-b-20">
        <h4>Espere por favor</h4>
    </div>
</div>


