.p-send {
    font-family: 'IcoFont' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #ff5252;
    color: #ff5252;
    float: left;
    margin-left: 20px;
}
.h5-send {
    color: #ff5252;
    font-weight: normal;
    font-size: 18px;
    font-family: Arial;
    float: left;
    margin-left: 10px;
  }
  .swiper-slide2 {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
#mycolor1 {
    display: flex;
} 

.img{
    display:block;
    margin:auto;
    width: 180px;
    height: 170px;
    background-color:white;
    }

.slide slick-slide{
    width: auto;}
/*.prod-view.prod-view.card:hover{
    box-shadow: 0 0 20px #555555;
}*/
.divcolor:hover{
    box-shadow: 0 0 20px #555555;
    background-color: white;
}
.divcolor{
   
    background-color: white;
}
.prod-info{
    padding-top: 10px;
}

/****************cambios g*****************/
.option-hover a:hover, .option-hover button:hover{
    background: #f00;
}
.option-hover a, .option-hover button{
    background: #0275d8;
    border:none;
}


/************ ESTILOS SLICK CON LA BARRA DE SCROLL G **************/
.slid-content{
	width: 100%;
	height: 230px;
	overflow: hidden;
}
.content{
	position: relative;
	width: 100%;
	height: 350px;
	overflow: hidden;
	overflow-x: scroll;
}
.content .slide-2{
	width: 160px;
	height: 230px;
    position: absolute;
}
/********************* ESTILOS SLICK GRANDE G *********************/

.slide{
    height: 350px;
}
.card-items{
    margin: 0 8px;
    width: 224px;
    height: 314px;
    border-radius: 4px;
    background: #fff;
    text-decoration: none;
    cursor: pointer;
}
.card-img{
    position: relative;
    height: 224px;
    padding: 7px;
}
.card-img .content-img{
    height: 100%;
    overflow: hidden;
}
.card-img .content-img img{
    width: 100%;
}
.card-desc{
    position: relative;
    max-height: 124px;
    border-radius:0px 0px 4px 4px;
    border-top: 1px solid #ddd;
    transition: all .5s ease;
    padding: 8px 24px;
}
/*.card-desc .item-name{
    font-size: 1.25rem;
    margin: 0;
}*/
.card-desc span{
    font-size: 1.3em;
    opacity: .8;
}
.card-desc .price-past{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.3em;
    margin: 0;
    text-align: left;
}
.card-items:hover .card-desc{
    background: #fff;
} 
.card-items:hover .item-name{
    display: block;
} 
.item-name{
    font-size: 12px;
    font-weight: 300;
    color: #777;
    display: none;
    transition: all .3s ease;
}
.car-img, .heart-img, .heart-img-2{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ddd;
    position: absolute;
    z-index: 2;
    right: 15px;
    bottom: -18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.car-img img{
    width: 70%;
    height: 70%;
}
.heart-img{
    border: none;
    display: none;
    right: 15px;
    top: 15px;
}
.heart-img i{
    color: #f00;
    font-size: 15px;
}
.heart-img-2{
    border: none;
    right: 15px;
    top: 15px;
    background: #f00;
}
.heart-img-2 i{
    color: #f00;
    font-size: 15px;
    color: #fff;
}
.heart-img:hover{
    background: #f00;
}
.heart-img:hover i{
    color: #fff;
}
.card-items:hover .heart-img{
    display: flex;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(255,0,0,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(255,0,0,1);
    box-shadow: 0px 0px 2px 0px rgba(255,0,0,1);
} 
@media (max-width: 976px){
    .slide{
        height: 230px;
    }
    .card-items{
        margin: 0 4px 4px;
        width: 152px;
        height: 226px;
    }
    .card-img{
        height: 152px;
    }
    .card-desc{
        height: 74px;
        padding: 7px 7px;
    }
    .card-desc .item-name{
        font-size: 1rem;
    }
    .card-desc .price{
        font-size: 1rem;
    }
    .card-items:hover .item-name{
        display: none;
    } 
    .card-items .heart-img{
        display: flex;
    } 
}