<div class="main-body">
  <div class="page-wrapper">
      <!-- Page header start -->
      <div class="page-header">
          <div class="page-header-title">
              <h4>Nuestros productos, servicios, inmuebles y movilidades</h4>
              <span>Encuentra lo que buscas</span>
          </div>
          <div class="page-header-breadcrumb">
              <ul class="breadcrumb-title">
                  <li class="breadcrumb-item">
                      <a href="index.html">
                          <i class="icofont icofont-home"></i>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
      <!-- Page header end -->
      <!-- Page body start -->
      <div class="page-body">
          <!-- Product list start -->
          <div style="overflow-y: auto; height:1000px; width:100%;">
          <div class="row">
               <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let item of itemList">
                  <div class="card prod-view">
                      <div class="prod-item text-center">
                          <div class="prod-img">
                              <div class="option-hover">
                                  <a href="/buy/{{item.itemId}}/1" class="btn btn-danger btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                      <i class="icofont icofont-cart-alt f-20"></i>
                                  </a>
                                  <a href="/itemDetail/{{item.itemId}}" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                      <i class="icofont icofont-eye-alt f-20"></i>
                                  </a>
                                  <button type="button" class="btn btn-danger btn-icon waves-effect waves-light hvr-bounce-in option-icon">
                                      <i class="icofont icofont-heart-alt f-20"></i>
                                  </button>
                              </div>
                              <a href="#!" class="hvr-shrink">
                                  <!--ruta para la imagenes en desarrollo -->
                                  <img src="https://s3-us-west-2.amazonaws.com/jsa-s3-bucketimage/dev/image/{{item.principalImage}}" class="img-fluid o-hidden" alt="{{item.principalImage}}">       
                              </a>
                              <div class="p-sale">SALE</div>
                              <div [hidden]="envioIcon(item.itemId)" class=""><a>
                    <img class="p-send" width="80" heigth="80" src="assets/images/carritoEnvio.png" alt="Generic placeholder image">
                </a><!--Envió gratis.--></div>
                          </div>
                          <div class="prod-info">
                              <h5><a href="" class="txt-muted"> {{item.name}} </a></h5>
                              <div class="stars stars-example-css m-b-10">
                                  <div class="br-wrapper br-theme-css-stars"><select id="example12-css" class="rating-star" name="rating" autocomplete="off" style="display: none;">
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                  </select></div>
                              </div>
                              <div  *ngIf="item.priceDiscount>0"><del> $ {{item.priceNormal}}</del>  </div>
                              <h6 class="txt-danger"><i class="icofont icofont-cur-dollar"></i> {{item.price}}</h6>
                          </div>
                      </div>
                  </div>
                </div>
          </div>
            </div>
          <!-- Product list end -->
      </div>
      <!-- Page body end -->
  </div>
</div>