.p-send {
    font-family: 'IcoFont' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #ff5252;
    color: #ff5252;
    float: left;
    margin-left: 20px;
}
.h5-send {
    color: #ff5252;
    font-weight: normal;
    font-size: 18px;
    font-family: Arial;
    float: left;
    margin-left: 10px;
  }