.p-send {
    font-family: 'IcoFont' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #ff5252;
    color: #ff5252;
    float: left;
    margin-left: 20px;
}
.h5-send {
    color: #ff5252;
    font-weight: normal;
    font-size: 18px;
    font-family: Arial;
    float: left;
    margin-left: 10px;
  }
  .swiper-slide2 {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
#mycolor1 {
    display: flex;
} 

.img{
    display:block;
    margin:auto;
    width: 180px;
    height: 170px;
    background-color:white;
    }

.slide slick-slide{
    width: auto;}
/*.prod-view.prod-view.card:hover{
    box-shadow: 0 0 20px #555555;
}*/
.divcolor:hover{
    box-shadow: 0 0 20px #555555;
    background-color: white;
}
.divcolor{
   
    background-color: white;
}
.prod-info{
    padding-top: 10px;
}
