.popup {
	border-radius: 10px;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px 0px rgba(#000000, 0.3);
	padding: 30px 15px;
	width: 70%;
	max-width: 600px;
	z-index: 5001;
	left: 50%;
	text-align: center;
	border: 5px solid #FF5E3A;
	
}
.popup2 {
	border-radius: 30px;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px 0px rgba(#000000, 0.3);
	padding: 30px 15px;
	width: 30%;
	z-index: 5001;
	bottom:50%;
	text-align: center;
	border: 15px solid #FF5E3A;
}
.cho-address {
	line-height: 1.6;
    padding: 10px 0;
	color: #999;
	font-size: 13px;
}


/************** ESTILOS DEL MENSAJE DE ERROR **************/
.input-group{
    margin-bottom: 0;
}
.error-g{
    height: 2em;
    width: 100%;
}

.error-g p{
    color: #f00;
    text-align: left;
    font-size: .9em;
    margin-left: 20px;
}