<nav class="navbar header-navbar pcoded-header iscollapsed" header-theme="theme4" pcoded-header-position="relative">
    <div class="navbar-wrapper">
        <div class="navbar-logo">
            <!--<a class="mobile-menu" id="mobile-collapse" href="javascript:void(0)">
                <i class="ti-menu"></i>
            </a>-->
            <a class="mobile-search morphsearch-search">
                <input class="searchItemMobile" type="text" placeholder="Buscar productos, marcas y más" name="search" [(ngModel)]="search" (input)="onSearchChange($event.target.value)" list="listadecategorias1">
                <datalist id="listadecategorias1">
                    <option *ngFor="let category of categories" value="{{category.name}}"></option>
                </datalist>
                <a style="cursor: pointer;" (click)="bestMatch()"><img  class="searchImagen" src="assets/images/search.png" alt="Theme-Logo"></a>
            </a>
            <a href="/index">
                <img class="img-fluid" src="assets/images/logo.png" alt="Theme-Logo">
            </a>
            <a class="mobile-options">
                <i class="ti-more"></i>
            </a>
        </div>
        <div class="navbar-container container-fluid">
            <div>
                <ul class="nav-left">
                    <!--<li>
                        <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                    </li>-->
                    <li>
                        <a onclick="javascript:toggleFullScreen()">
                            <i class="ti-fullscreen"></i>
                        </a>
                    </li>
                    <li class="mega-menu-top">
                        <a href="javascript:void(0)">
                            Menú
                            <i class="ti-angle-down"></i>
                        </a>
                        <ul class="show-notification row">
                            <li class="col-sm-3">
                                <h6 class="mega-menu-title">Principal</h6>
                                <ul class="mega-menu-links">
                                    <li><a href="/userFront">Resúmen</a></li>
                                    <li><a href="/userFront/favorites">Favoritos</a></li>
                                    <li><a href="/lisItems">Publicaciones</a></li>
                                    <li><a href="/userFront/purchases">Compras</a></li>
                                    <li><a href="/userFront/sales">Ventas</a></li>
                                    <li><a href="/userFront/userProfile">Mis datos</a></li>
                                </ul>
                            </li>
                            <!--<li class="col-sm-3">
                                <h6 class="mega-menu-title">Mailbox</h6>
                                <ul class="mega-mailbox">
                                    <li>
                                        <a href="#" class="media">
                                            <div class="media-left">
                                                <i class="ti-folder"></i>
                                            </div>
                                            <div class="media-body">
                                                <h5>Data Backup</h5>
                                                <small class="text-muted">Store your data</small>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="media">
                                            <div class="media-left">
                                                <i class="ti-headphone-alt"></i>
                                            </div>
                                            <div class="media-body">
                                                <h5>Support</h5>
                                                <small class="text-muted">24-hour support</small>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="media">
                                            <div class="media-left">
                                                <i class="ti-dropbox"></i>
                                            </div>
                                            <div class="media-body">
                                                <h5>Drop-box</h5>
                                                <small class="text-muted">Store large amount of data in one-box only
                                                </small>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="media">
                                            <div class="media-left">
                                                <i class="ti-location-pin"></i>
                                            </div>
                                            <div class="media-body">
                                                <h5>Location</h5>
                                                <small class="text-muted">Find Your Location with ease of use</small>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>-->
                            <li class="col-sm-5">
                                <h6 class="mega-menu-title">Categorias Principales</h6>
                                <div class="row m-b-20">
                                    <div class="col-sm-4">
                                        <a routerLink="/motorized">
                                        <div class="card rounded-card user-card" style="background:#014A8F; color:white; display:flex; flex-direction:column; justify-content:space-between; align-items:center;">
                                            <i style="font-size: 70px; margin-left: 0px; margin-top:10px;" class="icofont icofont-car-alt-1"></i>
                                            <p style="margin-bottom:7px;"><strong>Vehículos</strong></p>
                                        </div>
                                        </a>
                                    </div>  
                                    <div class="col-sm-4">
                                        <a routerLink="/property">
                                        <div class="card rounded-card user-card" style="background:#014A8F; color:white; display:flex; flex-direction:column; justify-content:space-between; align-items:center;">
                                            <i style="font-size: 70px; margin-left: 0px; margin-top:10px;" class="icofont icofont-building-alt"></i>
                                            <p style="margin-bottom:7px;"><strong>Inmuebles</strong></p>
                                        </div>
                                        </a>
                                    </div> 
                                    <div class="col-sm-4">
                                        <a routerLink="/service">
                                        <div class="card rounded-card user-card" style="background:#014A8F; color:white; display:flex; flex-direction:column; justify-content:space-between; align-items:center;">
                                            <i style="font-size: 70px; margin-left: 0px; margin-top:10px;" class="icofont icofont-headphone-alt-2"></i>
                                            <p style="margin-bottom:7px;"><strong>Servicios</strong></p>
                                        </div>
                                        </a>
                                    </div> 
                                </div>
                                <div class="row m-b-20">
                                    <div class="col-sm-4">
                                        <a routerLink="/over">
                                        <div class="card rounded-card user-card" style="background:#014A8F; color:white; display:flex; flex-direction:column; justify-content:space-between; align-items:center;">
                                            <i style="font-size: 70px; margin-left: 0px; margin-top:10px;" class="icofont icofont-star-shape"></i>
                                            <p style="margin-bottom:7px;"><strong>Destacados</strong></p>
                                        </div>
                                        </a>
                                    </div>  
                                    <div class="col-sm-4">
                                        <a routerLink="/allStores">
                                        <div class="card rounded-card user-card" style="background:#014A8F; color:white; display:flex; flex-direction:column; justify-content:space-between; align-items:center;">
                                            <i style="font-size: 70px; margin-left: 0px; margin-top:10px;" class="icofont icofont-food-cart"></i>
                                            <p style="margin-bottom:7px;"><strong>Tiendas Oficiales</strong></p>
                                        </div>
                                        </a>
                                    </div> 
                                    <div class="col-sm-4">
                                        <a routerLink="/createStore">
                                        <div class="card rounded-card user-card" style="background:#014A8F; color:white; display:flex; flex-direction:column; justify-content:space-between; align-items:center;">
                                            <i style="font-size: 70px; margin-left: 0px; margin-top:10px;" class="icofont icofont-shopping-cart"></i>
                                            <p style="margin-bottom:7px;"><strong>Yingul Shop</strong></p>
                                        </div>
                                        </a>
                                    </div> 
                                </div>
                                <!--<button class="btn btn-primary btn-sm btn-block">Browse Gallery</button>-->
                            </li>
                            <li class="col-sm-4">
                                <h6 class="mega-menu-title">Contáctanos</h6>
                                <div class="mega-menu-contact">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-3 col-form-label">Nombre</label>
                                        <div class="col-9">
                                            <input name="fullName" [(ngModel)]="fullName" class="form-control" type="text" placeholder="John Doe" id="example-text-input">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="example-search-input" class="col-3 col-form-label">Email</label>
                                        <div class="col-9">
                                            <input name="email" [(ngModel)]="email" class="form-control" type="email" placeholder="Introduzca su email" id="example-search-input">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="example-search-input" class="col-3 col-form-label">Teléfono</label>
                                        <div class="col-9">
                                            <input name="phone" [(ngModel)]="phone" class="form-control" type="number" placeholder="+91-9898989898" id="example-search-input">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleTextarea" class="col-3 col-form-label">Mensaje</label>
                                        <div class="col-9">
                                            <textarea name="message" [(ngModel)]="message" class="form-control" id="exampleTextarea" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button (click)="sendMessage()" class="btn btn-primary btn-sm btn-block">Contáctanos</button>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <input (keydown)="handleKeyDown($event)" class="searchItem" type="text" placeholder="Buscar productos, marcas y más" name="search" [(ngModel)]="search" (input)="onSearchChange($event.target.value)" list="listadecategorias">
                        <datalist id="listadecategorias">
                            <option *ngFor="let category of categories" value="{{category.name}}"></option>
                        </datalist>
                        <a style="cursor: pointer;" class="main-search morphsearch-search" (click)="bestMatch()">
                            <!-- themify icon -->
                            <i class="ti-search"></i>
                        </a>
                    </li>
                </ul>
                <!--desde aqui comienza el navbar de la derecha-->
                <ul class="nav-right" [hidden]="!loggedIn">
                    <li class="header-notification lng-dropdown">
                        <a href="#" id="dropdown-active-item">
                            <i class="flag-icon flag-icon-es m-r-5"></i> Español
                        </a>
                        <!--<ul class="show-notification">
                            <li>
                                <a href="#" data-lng="en">
                                    <i class="flag-icon flag-icon-gb m-r-5"></i> Inglés
                                </a>
                            </li>
                            <li>
                                <a href="#" data-lng="es">
                                    <i class="flag-icon flag-icon-es m-r-5"></i> Español
                                </a>
                            </li>
                            <li>
                                <a href="#" data-lng="pt">
                                    <i class="flag-icon flag-icon-pt m-r-5"></i> Portugués
                                </a>
                            </li>
                            <li>
                                <a href="#" data-lng="fr">
                                    <i class="flag-icon flag-icon-fr m-r-5"></i> Francés
                                </a>
                            </li>
                        </ul>-->
                    </li>
                    <li class="header-notification">
                        <a href="#!">
                            <i class="ti-bell"></i>
                            <span class="badge">5</span>
                        </a>
                        <ul class="show-notification">
                            <li>
                                <h6>Notifications</h6>
                                <label class="label label-danger">New</label>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="notification-user">{{User.username}}</h5>
                                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                        <span class="notification-time">30 minutes ago</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="notification-user">Joseph William</h5>
                                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                        <span class="notification-time">30 minutes ago</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="notification-user">Sara Soudein</h5>
                                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                        <span class="notification-time">30 minutes ago</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="header-notification">
                        <a href="/userFront/sales/query" class="displayChatbox">
                            <i class="ti-comments"></i>
                            <span [ngClass]="(queries==0)?'':'badge'">{{queries}}</span>
                        </a>
                    </li>
                    <li class="user-profile header-notification">
                        <a href="javascript:void(0)">
                            <img src="assets/images/user.png" alt="User-Profile-Image">
                            <span>{{User.username}}</span>
                            <i class="ti-angle-down"></i>
                        </a>
                        <ul class="show-notification profile-notification">
                            <li>
                                <a href="/userFront">
                                    <i class="ti-user"></i> Mi cuenta
                                </a>
                            </li>
                            <li>
                                <a href="/userFront/purchases">
                                    <i class="ti-shopping-cart"></i> Compras
                                </a>
                            </li>
                            <li>
                                <a href="/userFront/sales">
                                    <i class="ti-credit-card"></i> Ventas
                                </a>
                            </li>
                            <li>
                                <a href="/userFront/userProfile">
                                    <i class="ti-settings"></i> Mis datos
                                </a>
                            </li>
                            <li>
                                <a style="cursor: pointer;" (click)="logout()" >
                                    <i class="ti-layout-sidebar-left"></i> Salir
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="header-notification">
                        <a href="/sell" routerLinkActive="active">
                          Vender
                        </a>
                    </li>
                </ul>
                <ul class="nav-right" [hidden]="loggedIn">
                    <li class="header-notification lng-dropdown">
                        <a href="#" id="dropdown-active-item">
                            <i class="flag-icon flag-icon-es m-r-5"></i> Español
                        </a>
                        <!--<ul class="show-notification">
                            <li>
                                <a href="#" data-lng="en">
                                    <i class="flag-icon flag-icon-gb m-r-5"></i> Inglés
                                </a>
                            </li>
                            <li>
                                <a href="#" data-lng="es">
                                    <i class="flag-icon flag-icon-es m-r-5"></i> Español
                                </a>
                            </li>
                            <li>
                                <a href="#" data-lng="pt">
                                    <i class="flag-icon flag-icon-pt m-r-5"></i> Portugués
                                </a>
                            </li>
                            <li>
                                <a href="#" data-lng="fr">
                                    <i class="flag-icon flag-icon-fr m-r-5"></i> Francés
                                </a>
                            </li>
                        </ul>-->
                    </li>
                    <li class="header-notification">
                        <a routerLink="/signup" class="displayChatbox">
                          Registrate
                        </a>
                    </li>
                    <li class="header-notification">
                        <a routerLink="/login" routerLinkActive="active">
                          Ingresa
                        </a>
                    </li>
                    <li class="header-notification">
                        <a routerLink="/sell" routerLinkActive="active">
                          Vender
                        </a>
                    </li>
                </ul>
                <!--hasta aqui-->
                <!-- search -->
                <div id="morphsearch" class="morphsearch">
                    <form class="morphsearch-form">
                        <input class="morphsearch-input" type="search" placeholder="Search...">
                        <button class="morphsearch-submit" type="submit">Search</button>
                    </form>
                    <div class="morphsearch-content">
                        <div class="dummy-column">
                            <h2>People</h2>
                            <a class="dummy-media-object" href="#!">
                                <img class="round" src="http://0.gravatar.com/avatar/81b58502541f9445253f30497e53c280?s=50&amp;d=identicon&amp;r=G" alt="Sara Soueidan">
                                <h3>Sara Soueidan</h3>
                            </a>
                            <a class="dummy-media-object" href="#!">
                                <img class="round" src="http://1.gravatar.com/avatar/9bc7250110c667cd35c0826059b81b75?s=50&amp;d=identicon&amp;r=G" alt="Shaun Dona">
                                <h3>Shaun Dona</h3>
                            </a>
                        </div>
                        <div class="dummy-column">
                            <h2>Popular</h2>
                            <a class="dummy-media-object" href="#!">
                                <img src="assets/images/avatar-1.png" alt="PagePreloadingEffect">
                                <h3>Page Preloading Effect</h3>
                            </a>
                            <a class="dummy-media-object" href="#!">
                                <img src="assets/images/avatar-1.png" alt="DraggableDualViewSlideshow">
                                <h3>Draggable Dual-View Slideshow</h3>
                            </a>
                        </div>
                        <div class="dummy-column">
                            <h2>Recent</h2>
                            <a class="dummy-media-object" href="#!">
                                <img src="assets/images/avatar-1.png" alt="TooltipStylesInspiration">
                                <h3>Tooltip Styles Inspiration</h3>
                            </a>
                            <a class="dummy-media-object" href="#!">
                                <img src="assets/images/avatar-1.png" alt="NotificationStyles">
                                <h3>Notification Styles Inspiration</h3>
                            </a>
                        </div>
                    </div>
                    <!-- /morphsearch-content -->
                    <span class="morphsearch-close"><i class="icofont icofont-search-alt-1"></i></span>
                </div>
                <!-- search end -->
            </div>
        </div>
    </div>
</nav>
