.searchItem{
    width: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
}
.searchItemMobile{
    width: 70%;
    height: 35px;
    position: fixed;
    top: 10px;
}
.searchImagen{
    position: fixed;
    left: 84%;
    width: 40px;
    top: 6px;
}