
<!-- Main body start -->
<div class="main-body user-profile">
  <div class="page-wrapper">
      <!-- Page-header start -->
      <div class="page-header">
          <div class="page-header-title">
              <h4>Contáctenos</h4>
          </div>
          <div class="page-header-breadcrumb">
              <ul class="breadcrumb-title">
                  <li class="breadcrumb-item">
                      <a href="/index">
                          <i class="icofont icofont-home"></i>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="/about">Acerca</a>
                  </li>
                  <li class="breadcrumb-item"><a href="/about/contacUs">Contáctenos</a>
                  </li>
              </ul>
          </div>
      </div>
      <!-- Page-header end -->
      <!-- Page-body start -->
      <div class="page-body">
          
        <div class="card">
            <div class="card-header">
              <h5 class="card-header-text">Para obtener más información sobre los servicios de Yingul, </h5><br>
              <h5 class="card-header-text">complete este formulario de solicitud o llame a un número a continuación.</h5>
            </div>
            <div class="card-block">
                <div class="">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="general-info">
                                <div class="row">
                                    <div class="col-lg-12 col-xl-6">
                                        <table class="table m-0">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Contacto</th>
                                                    <td>Ariel Quispe</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Ciudad</th>
                                                    <td>Trujui</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Dirección</th>
                                                    <td>C. Triunvirato N°2840</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Código postal</th>
                                                    <td>1664</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Teléfono</th>
                                                    <td>549 - 11 - 27372958</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Contacto</th>
                                                    <td>Gorki Santalla</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Ciudad</th>
                                                    <td>La Paz</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Dirección</th>
                                                    <td>Plan Autopista Manzano J N° 95</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Correo</th>
                                                    <td>yingul@internetvale.com</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Teléfono</th>
                                                    <td>591 - 63009300</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end of table col-lg-6 -->
                                    <div class="col-lg-12 col-xl-6">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Contacto</th>
                                                    <td>Sergio David Iren</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Ciudad</th>
                                                    <td>Moreno</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Dirección</th>
                                                    <td>C. Joaquin V. Gonzáles N° 10440</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Código postal</th>
                                                    <td>1744</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Teléfono</th>
                                                    <td>549 - 11 - 23399622</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Contacto</th>
                                                    <td>contacto@yingul.com</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Ventas</th>
                                                    <td>ventas@yingul.com</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Consultas</th>
                                                    <td>consultas@yingul.com</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end of table col-lg-6 -->
                                </div>
    
                            </div>
                            <!-- end of general info -->
                        </div>
                        <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                </div>
                <!-- end of view-info -->
                <br>
                <div class="">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="general-info">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <table class="table contactanos">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icofont icofont-user"></i></span>
                                                            <input type="text" name="fullName" [(ngModel)]="fullName"  class="form-control" placeholder="Nombre Compĺeto">
                                                        </div>
                                                        <div class="error-g row">
                                                            <p  [hidden]="hidName">Nombre requerido</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icofont icofont-send-mail"></i></span>
                                                            <input type="text" name="email" [(ngModel)]="email" class="form-control" placeholder="Correo electrónico" (keypress)="keyPressEmail($event)">
                                                        </div>
                                                        <div class="error-g row">
                                                            <p  [hidden]="hidEmail">Email requerido</p>
                                                            <p  [hidden]="hidEmailVal">Formato de email no valido</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--<tr>
                                                    <td>
                                                        <div class="form-radio">
                                                            <div class="group-add-on">
                                                                <div class="radio radiofill radio-inline">
                                                                    <label>
                                                                        <input type="radio" name="radio" checked><i class="helper"></i> Male
                                                                    </label>
                                                                </div>
                                                                <div class="radio radiofill radio-inline">
                                                                    <label>
                                                                        <input type="radio" name="radio"><i class="helper"></i> Female
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>-->
                                                <tr>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icofont icofont-mail"></i></span>
                                                            <input type="text" name="message" [(ngModel)]="message" class="form-control" placeholder="Escriba su mensaje">
                                                        </div>
                                                        <div class="error-g row">
                                                            <p  [hidden]="hidMessage">Mensaje requerido</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--<tr>
                                                    <td>
                                                        <select id="hello-single" class="form-control">
                                                            <option value="">---- Marital Status ----</option>
                                                            <option value="married">Married</option>
                                                            <option value="unmarried">Unmarried</option>
                                                        </select>
                                                    </td>
                                                </tr>-->
                                                <tr>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icofont icofont-location-pin"></i></span>
                                                            <input type="text" name="direction" [(ngModel)]="direction" class="form-control" placeholder="Dirección">
                                                        </div>
                                                        <div class="error-g row">
                                                            <p  [hidden]="hidDirection">Dirección requerida</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end of table col-lg-6 -->
                                    <div class="col-lg-6">
                                        <table class="table contactanos">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icofont icofont-mobile-phone"></i></span>
                                                            <input type="text" name="phone" (keypress)="keyPress($event)" [(ngModel)]="phone" class="form-control" placeholder="Teléfono">
                                                        </div>
                                                        <div class="error-g row">
                                                            <p  [hidden]="hidPhone">Teléfono requerido</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icofont icofont-social-twitter"></i></span>
                                                            <input type="text" name="twitterId" [(ngModel)]="twitterId" class="form-control" placeholder="Twitter Id">
                                                        </div>
                                                        <div class="error-g row">
                                                            <p></p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- <tr>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon" id="basic-addon1">@</span>
                                                            <input type="text" class="form-control" placeholder="Twitter Id">
                                                        </div>
                                                    </td>
                                                </tr> -->
                                                <tr>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icofont icofont-social-skype"></i></span>
                                                            <input type="email" name="skypeId" [(ngModel)]="skypeId" class="form-control" placeholder="Skype Id">
                                                        </div>
                                                        <div class="error-g row">
                                                            <p></p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icofont icofont-earth"></i></span>
                                                            <input type="text" name="webSite" [(ngModel)]="webSite" class="form-control" placeholder="Sito Web">
                                                        </div>
                                                        <div class="error-g row">
                                                            <p></p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end of table col-lg-6 -->
                                </div>
                                <!-- end of row -->
                                <div class="text-center">
                                    <a style="cursor:pointer;color:#fff;" (click)="sendMessage()"class="btn btn-primary waves-effect waves-light m-r-20">Enviar ahora</a>
                                </div>
                            </div>
                            <!-- end of edit info -->
                        </div>
                        <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                </div>
                <!-- end of edit-info -->
            </div>
            <!-- end of card-block -->
        </div>
                          
      </div>
      <!-- Page-body end -->
  </div>
</div>
<!-- Main body end -->


<div class="content_popup_g" align="center" [hidden]="popup_g">
    <div class="popup_g">
        <p class="popup-title">SOLICITUD EN PROCESO</p>
        <img src="assets/images/spiner.gif" alt="Cargando">
        <p class="popup-msg">Por favor espere...</p>
    </div>
</div>