<!-- Main-body start -->
<div class="main-body">
  <div class="page-wrapper">
      <!-- Page header start -->
      <div class="page-header">
          <div class="page-header-title">
              <h4>Destacados</h4>
          </div>
          <div class="row phoneMirrow phoneMirrow2">                
              <button type="button" class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger" data-modal="modal-13" (click)="filterHidden()"> <i class="ion-ios-settings-strong"></i> Filtrar
              </button>
          </div>
          <div class="page-header-breadcrumb">
              <ul class="breadcrumb-title">
                  <li class="breadcrumb-item">
                      <a href="index">
                          <i class="icofont icofont-home"></i>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="/over">Destacados</a>
                  </li>
              </ul>
          </div>
      </div>
      <!-- Page header start -->
      <!-- Page body start -->
      <div class="page-body">
          <div class="row">
<!--  BEGIN SIDE BAR IZQUIERDA -->
              <div class="sidebar card-block-big phone">
              
                  <div class="card" *ngIf="tensubCategoryList">
                      <div class="card-header">Categorias</div>
                      <div class="card-block">
                          <div class="list-group" width="100%">
                              <a *ngFor="let category of tensubCategoryList" class="list-group-item list-group-item-action " href="/itemsCategory/{{category.categoryId}}">{{category.name}}</a>
                              <a style="cursor: pointer;" (click)="popupCategory()" class="list-group-item list-group-item-action list-group-item-info" >Ver todos</a>
                          </div>
                      </div>
                  </div>

                  <div class="card" [hidden]="countryCard">
                      <div class="card-header" >País 1</div>
                      <form>
                      <div class="card-block">
                          <div class="list-group" width="100%">
                              <a *ngFor="let country of countryListFive" style="cursor: pointer;" (click)="findCountry(country.countryId)" class="list-group-item list-group-item-action " >{{country.name}}</a>
                              <a style="cursor: pointer;" (click)="popupCountry()" class="list-group-item list-group-item-action list-group-item-info" >Ver todos</a>
                          </div>
                      </div>
                      </form>
                  </div>

                  <div class="card" [hidden]="provinceCard">
                      <div class="card-header" >Ubicación</div>
                      <form>
                      <div class="card-block">
                          <div class="list-group" width="100%">
                              <a *ngFor="let province of provinceListFive" style="cursor: pointer;" (click)="findProvince(province.provinceId)" class="list-group-item list-group-item-action " >{{province.name}}</a>
                              <a style="cursor: pointer;" (click)="popupProvince()" class="list-group-item list-group-item-action list-group-item-info" >Ver todos</a>
                          </div>
                      </div>
                      </form>
                  </div>
          
                  <div class="card" [hidden]="cityCard">
                      <div class="card-header">Ciudades y Barrios</div>
                      <form>
                      <div class="card-block">
                          <div class="list-group" width="100%">
                              <a *ngFor="let city of cityListFive" style="cursor: pointer;" (click)="findCity(city.cityId)" class="list-group-item list-group-item-action " >{{city.name}}</a>
                              <a style="cursor: pointer;" (click)="popupCity()" class="list-group-item list-group-item-action list-group-item-info" >Ver todos</a>
                          </div>
                      </div>
                      </form>
                  </div>
          
                  <div class="card">
                      <div class="card-header">Precio</div>
                      <form>
                          <div class="card-block">
                              <div class="list-group" width="100%">
                                  <a style="cursor: pointer;" (click)="findPrice(0,minPrice)" class="list-group-item list-group-item-action " >Hasta ${{minPrice}}</a>
                                  <a style="cursor: pointer;" (click)="findPrice(minPrice,maxPrice)" class="list-group-item list-group-item-action " >${{minPrice}} a ${{maxPrice}}</a>
                                  <a style="cursor: pointer;" (click)="findPrice(maxPrice,0)" class="list-group-item list-group-item-action " >Más de ${{maxPrice}}</a>
                              </div>
                          </div>
                          <div class="card-footer text-right">
                              <div class="row" >
                                  <input type="number" class="form-control form-control-primary col-lg-6 col-md-6 col-sm-6 col-xs-12" placeholder="Mínimo" name="precioDesde" [(ngModel)]="precioDesde">
                                  <input type="number" class="form-control form-control-primary col-lg-6 col-md-6 col-sm-6 col-xs-12" placeholder="Máximo" name="precioHasta" [(ngModel)]="precioHasta">
                              </div>
                              <br>
                              <a style="cursor: pointer;" (click)="findPrice1()" *ngIf="precioDesde!=null||precioHasta!=null"><span class="input-group-addon"><i class="icofont icofont-search-alt-1"> Buscar</i></span></a>
                          </div>
                      </form>
                  </div>

                  <div class="card">
                      <div class="card-header">Fecha de publicación</div>
                      <form>
                          <div class="card-block">
                              <div class="list-group" width="100%">
                                  <a>Desde:</a><input type="date" min="2018-03-08" [max]="today" class="form-control form-control-primary " name="dateDesde" [(ngModel)]="dateDesde">
                                  <a>Hasta:</a><input type="date" min="2018-03-08" [max]="today" class="form-control form-control-primary " name="dateHasta" [(ngModel)]="dateHasta">
                                  <br>
                                  <a *ngIf="dateDesde!=null||dateHasta!=null" style="cursor: pointer;" (click)="findDate()" class="" ><span class="input-group-addon"><i class="icofont icofont-search-alt-1"> Buscar</i></span></a>
                              </div>
                          </div>
                      </form>
                  </div>

                  <div class="card" [hidden]="conditionCard">
                    <div class="card-header">Condición</div>
                    <form>
                        <div class="card-block">
                            <div class="list-group" width="100%">
                                <a style="cursor: pointer;" (click)="findNew()" class="list-group-item list-group-item-action " >Nuevo</a>
                                <a style="cursor: pointer;" (click)="findUsed()" class="list-group-item list-group-item-action " >Usado</a>
                            </div>
                        </div>
                    </form>
                 </div>

              </div>
<!--  END SIDE BAR IZQUIERDA -->

<!--  BEGIN SECTION DERECHA  -->
              <div class="section">
                  
                <!-- Product list start -->
                <br>
                <div class="row">
                    <div class="wrap-card" *ngFor="let item of itemList">
                        <div class="card-items">
                            <div class="card-img">
                                <a href="/itemDetail/{{item.itemId}}" class="content-img d-flex align-items-center">
                                    <img src="{{BUCKET_URL}}{{item.principalImage}}" alt="">
                                </a>
                                <div class="heart-img" [hidden]=isFavortite(item.itemId) (click)="addToFavorites(item.itemId)">
                                    <i class="icofont icofont-heart-alt f-20"></i>
                                </div>
                                <div class="heart-img-2" [hidden]=!isFavortite(item.itemId) (click)="deleteToFavorites(item.itemId)">
                                    <i class="icofont icofont-heart-alt f-20"></i>
                                </div>
                                <div [hidden]="item.productPagoEnvio!='gratis'" class="car-img">
                                    <img src="assets/images/car.png" alt="">
                                </div>
                            </div>
                            <a href="/itemDetail/{{item.itemId}}" class="card-desc">
                                <div *ngIf="item.priceDiscount>0">
                                    <p class="price-past">${{item.priceNormal}}</p>
                                </div>                                    
                                <div class="price d-flex justify-content-between">
                                    <span class="price-current">${{item.price}}</span><span class="price-past"></span>
                                </div>
                                <p class="item-name">{{item.name}}</p>
                            </a>
                        </div>
                        <!--div class="card prod-view">
                            <div class="prod-item text-center">
                                <div class="prod-img">
                                    <div class="option-hover">
                                        <a href="/buy/{{item.itemId}}/1" class="btn btn-danger btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-cart-alt f-20"></i>
                                        </a>
                                        <a href="/itemDetail/{{item.itemId}}" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-eye-alt f-20"></i>
                                        </a>
                                        <button [hidden]=isFavortite(item.itemId) (click)="addToFavorites(item.itemId)" type="button" class="btn btn-danger btn-icon waves-effect waves-light hvr-bounce-in option-icon">
                                            <i class="icofont icofont-heart-alt f-20"></i>
                                        </button>
                                    </div>
                                    <a class="wrap-img hvr-shrink">    
                                        <img src="{{BUCKET_URL}}{{item.principalImage}}" class="main-img img-fluid o-hidden" alt="">
                                    </a>
                                    <div [hidden]=!isFavortite(item.itemId) style="cursor: pointer;" (click)="deleteToFavorites(item.itemId)" class="p-sale"><i class="icofont icofont-heart-alt f-20"></i></div>
                                    <div [hidden]="envioIcon(item.itemId)" class=""><a>
                                        <img class="p-send" width="40" heigth="40" src="assets/images/carritoEnvio.png" alt="Generic placeholder image">
                                        </a> <h1 class="h5-send">Envió gratis</h1>
                                    </div>
                                </div>
                                <div class="prod-info">
                                    <h5><a class="txt-muted"> {{item.name}} </a></h5>
                                    <div class="stars stars-example-css m-b-10">
                                        <div class="br-wrapper br-theme-css-stars"><select id="example12-css" class="rating-star" name="rating" autocomplete="off" style="display: none;">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select></div>
                                    </div>
                                    <div  *ngIf="item.priceDiscount>0"><del> $ {{item.priceNormal}}</del>  </div>
                                    <h6 class="txt-danger"><i class="icofont icofont-cur-dollar"></i> {{item.price}}</h6>
                                </div>
                            </div>
                        </div-->
                    </div>
                </div>
                <!-- Product list end -->

              </div>
<!--  END SECTION DERECHA  -->
          </div>
      </div>
      <!-- Page body end -->
  </div>
</div>
<!-- Main-body end -->
<div class="popup" [hidden]="popup">
  <div class="row" >
      <div class="card-header col-sm-10 ">Categorias</div>
      <div class="col-sm-2" style="cursor: pointer;"> <i  (click)="popupHide()" style="margin-left: 70%;" class="icofont icofont-ui-close"></i></div>
  </div>
  <div style="overflow:hidden; overflow-y:scroll; height:300px; width:100%; ">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let category of subCategoryListTemp">
              <a  class="list-group-item list-group-item-action " href="/itemsCategory/{{category.categoryId}}">{{category.name}}</a>
          </div>
      </div>
  </div>
</div>
<div class="popup" [hidden]="popup3">
  <div class="row" >
      <div class="card-header col-sm-10 ">Ubicacion</div>
      <div class="col-sm-2" style="cursor: pointer;"> <i  (click)="popupHide()" style="margin-left: 70%;" class="icofont icofont-ui-close"></i></div>
  </div>
  <div style="overflow:hidden; overflow-y:scroll; height:300px; width:100%; ">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let province of provinceList">
              <a style="cursor: pointer;" (click)="findProvince(province.provinceId)" class="list-group-item list-group-item-action " >{{province.name}}</a>
          </div>
      </div>
  </div>
</div>
<div class="popup" [hidden]="popup9">
  <div class="row" >
      <div class="card-header col-sm-10 ">Paises</div>
      <div class="col-sm-2" style="cursor: pointer;"> <i  (click)="popupHide()" style="margin-left: 70%;" class="icofont icofont-ui-close"></i></div>
  </div>
  <div style="overflow:hidden; overflow-y:scroll; height:300px; width:100%; ">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let country of countryList">
              <a style="cursor: pointer;" (click)="findCountry(country.countryId)" class="list-group-item list-group-item-action " >{{country.name}}</a>
          </div>
      </div>
  </div>
</div>
<div class="popup" [hidden]="popup4">
  <div class="row" >
      <div class="card-header col-sm-10 ">Ciudades y Barrios</div>
      <div class="col-sm-2" style="cursor: pointer;"> <i  (click)="popupHide()" style="margin-left: 70%;" class="icofont icofont-ui-close"></i></div>
  </div>
  <div style="overflow:hidden; overflow-y:scroll; height:300px; width:100%; ">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let city of cityList">
              <a style="cursor: pointer;" (click)="findCity(city.cityId)" class="list-group-item list-group-item-action " >{{city.name}}</a>
          </div>
      </div>
  </div>
</div>
<div class="popup" [hidden]="popup5">
  <div class="row" >
          <div class="col-sm-2" style="cursor: pointer;"> <i  (click)="popupHide()" style="margin-left: 70%;" class="icofont icofont-ui-close"></i></div>
          <div class="card-header col-sm-10 ">Filtrar por</div>            
  </div>
  <div class="card-block">
      <div class="list-group" width="100%">
          <a style="cursor: pointer;" (click)="popupCategorys()" class="list-group-item list-group-item-action " *ngIf="tensubCategoryList">Categorias</a>
          <a style="cursor: pointer;" (click)="popupUbication()" class="list-group-item list-group-item-action " [hidden]="provinceCard">Ubicacion</a>
          <a style="cursor: pointer;" (click)="popupPrice()" class="list-group-item list-group-item-action " >Precio</a>
      </div>
  </div>
</div>
<div class="popup" [hidden]="popup6">
  <div class="row" >
      <div class="col-sm-2" style="cursor: pointer;"> <i  (click)="popupHide()" style="margin-left: 70%;" class="icofont icofont-ui-close"></i></div>
      <div class="card-header col-sm-10 ">Precio</div>        
  </div>
  <div class="card-block">
          <div class="list-group" width="100%">
              <a style="cursor: pointer;" (click)="findPrice(0,minPrice)" class="list-group-item list-group-item-action " >Hasta ${{minPrice}}</a>
              <a style="cursor: pointer;" (click)="findPrice(minPrice,maxPrice)" class="list-group-item list-group-item-action " >${{minPrice}} a ${{maxPrice}}</a>
              <a style="cursor: pointer;" (click)="findPrice(maxPrice,0)" class="list-group-item list-group-item-action " >Más de ${{maxPrice}}</a>
          </div>
  </div>
  <div class="card-footer text-right">
      <div class="row" >
          <input type="number" class="form-control form-control-primary col-lg-4 col-md-8 col-sm-8 col-xs-12" placeholder="Mínimo" name="precioDesde" [(ngModel)]="precioDesde">
          <input type="number" class="form-control form-control-primary col-lg-4 col-md-8 col-sm-8 col-xs-12" placeholder="Máximo" name="precioHasta" [(ngModel)]="precioHasta">
          <a style="cursor: pointer;" (click)="findPrice1()" *ngIf="precioDesde!=null&&precioHasta!=null"class="col-lg-3 col-md-6 col-sm-6 col-xs-12" ><span class="input-group-addon"><i class="icofont icofont-search-alt-1"></i></span></a>
          <a style="cursor: pointer;" (click)="findPrice1()" *ngIf="precioDesde!=null&&precioHasta==null" class="col-lg-3 col-md-6 col-sm-6 col-xs-12" ><span class="input-group-addon"><i class="icofont icofont-search-alt-1"></i></span></a>
          <a style="cursor: pointer;" (click)="findPrice1()" *ngIf="precioDesde==null&&precioHasta!=null"class="col-lg-3 col-md-6 col-sm-6 col-xs-12" ><span class="input-group-addon"><i class="icofont icofont-search-alt-1"></i></span></a>
      </div>
  </div>
</div>

<div class="popup" [hidden]="popup7">
  <div class="row" >
          <div class="col-sm-2" style="cursor: pointer;"> <i  (click)="popupHide()" style="margin-left: 70%;" class="icofont icofont-ui-close"></i></div>
          <div class="card-header col-sm-10 ">Categorias</div>
      </div>
      <div class="card-block">
          <div class="list-group" width="100%">
              <a *ngFor="let category of tensubCategoryList" class="list-group-item list-group-item-action " href="/itemsCategory/{{category.categoryId}}">{{category.name}}</a>
              <a style="cursor: pointer;" (click)="popupCategory()" class="list-group-item list-group-item-action list-group-item-info" >Ver todos</a>
          </div>
      </div>
</div>
<div class="popup" [hidden]="popup8">
  <div class="row" >
      <div class="col-sm-2" style="cursor: pointer;"> <i  (click)="popupHide()" style="margin-left: 70%;" class="icofont icofont-ui-close"></i></div>
      <div class="card-header col-sm-10 ">Ubicación</div>
  </div>
  <div class="card-block">
      <div class="list-group" width="100%">
          <a *ngFor="let province of provinceListFive" style="cursor: pointer;" (click)="findProvince(province.provinceId)" class="list-group-item list-group-item-action " >{{province.name}}</a>
          <a style="cursor: pointer;" (click)="popupProvince()" class="list-group-item list-group-item-action list-group-item-info" >Ver todos</a>
      </div>
  </div>
</div>
<div class="popup" [hidden]="cityCard2"><!--verificar este card no puede tener el mismo hidden que cityCard-->
      <div class="row" >
              <div class="col-sm-2" style="cursor: pointer;"> <i  (click)="popupHide()" style="margin-left: 70%;" class="icofont icofont-ui-close"></i></div>
              <div class="card-header col-sm-10 ">Ciudades y Barrios</div>
          </div>
          <div class="card-block">
              <div class="list-group" width="100%">
                  <a *ngFor="let city of cityListFive" style="cursor: pointer;" (click)="findCity(city.cityId)" class="list-group-item list-group-item-action " >{{city.name}}</a>
                  <a style="cursor: pointer;" (click)="popupCity()" class="list-group-item list-group-item-action list-group-item-info" >Ver todos</a>
              </div>
          </div>
</div>


<!--************ POPUPS G RESPONSIVO ***************-->
<div class="popup popupFiltrar" [hidden]="popup5">
    <div class="row" >
            <div class="col-sm-2" style="cursor: pointer;"> <i  (click)="popupHide()" style="margin-left: 70%;" class="icofont icofont-ui-close"></i></div>
            <div class="card-header col-sm-10 ">Filtrar por</div>            
    </div>
    <div class="card-block">
        <div class="list-group" width="100%">
            <a style="cursor: pointer;" (click)="popupCategorys()" class="list-group-item list-group-item-action " *ngIf="tensubCategoryList">Categorias</a>
            <a style="cursor: pointer;" (click)="popupCountry()" class="list-group-item list-group-item-action " *ngIf="countryCard==false">País</a>
            <a style="cursor: pointer;" (click)="popupProvince()" class="list-group-item list-group-item-action " *ngIf="provinceCard==false">Ubicación</a>
            <a style="cursor: pointer;" (click)="popupCity()" class="list-group-item list-group-item-action " *ngIf="cityCard!=true">Ciudades y Barrios</a>
            <a style="cursor: pointer;" (click)="popupPrice()" class="list-group-item list-group-item-action " >Precio</a>
            <a style="cursor: pointer;" (click)="popupDatePubli()" class="list-group-item list-group-item-action " >Fecha de publicación</a>
            <a style="cursor: pointer;" (click)="popupCondition()" class="list-group-item list-group-item-action " *ngIf="conditionCard==false">Condición</a>
        </div>
    </div>
</div>

<div class="popup" [hidden]="popupFechaPubli">
    <div class="row" >
            <div class="col-sm-2" style="cursor: pointer;"> <i  (click)="popupHide()" style="margin-left: 70%;" class="icofont icofont-ui-close"></i></div>
            <div class="card-header col-sm-10 ">Fecha de publicación</div>
        </div>
        <div class="card-block">
            <div class="list-group" width="100%">
                <a>Desde:</a><input type="date" min="2018-03-08" [max]="today" class="form-control form-control-primary " name="dateDesde" [(ngModel)]="dateDesde">
                <a>Hasta:</a><input type="date" min="2018-03-08" [max]="today" class="form-control form-control-primary " name="dateHasta" [(ngModel)]="dateHasta">
                <br>
                <a *ngIf="dateDesde!=null||dateHasta!=null" style="cursor: pointer;" (click)="findDate2()" class="" ><span class="input-group-addon"><i class="icofont icofont-search-alt-1"> Buscar</i></span></a>
            </div>
        </div>
  </div>
  <div class="popup" [hidden]="popupCond">
    <div class="row" >
            <div class="col-sm-2" style="cursor: pointer;"> <i  (click)="popupHide()" style="margin-left: 70%;" class="icofont icofont-ui-close"></i></div>
            <div class="card-header col-sm-10 ">Condición</div>
        </div>
        <div class="card-block">
            <div class="list-group" width="100%">
                <a style="cursor: pointer;" (click)="findNew2()" class="list-group-item list-group-item-action " >Nuevo</a>
                <a style="cursor: pointer;" (click)="findUsed2()" class="list-group-item list-group-item-action " >Usado</a>
            </div>
        </div>
  </div>


<!--div class="card">
    <div class="card-header">Fecha de publicación</div>
    <form>
        <div class="card-block">
            <div class="list-group" width="100%">
                <a>Desde:</a><input type="date" min="2018-03-08" [max]="today" class="form-control form-control-primary " name="dateDesde" [(ngModel)]="dateDesde">
                <a>Hasta:</a><input type="date" min="2018-03-08" [max]="today" class="form-control form-control-primary " name="dateHasta" [(ngModel)]="dateHasta">
                <br>
                <a *ngIf="dateDesde!=null||dateHasta!=null" style="cursor: pointer;" (click)="findDate()" class="" ><span class="input-group-addon"><i class="icofont icofont-search-alt-1"> Buscar</i></span></a>
            </div>
        </div>
    </form>
</div-->