<br/>
<div class="page-header-title">
    <h4>Formas de entrega</h4>
</div>
<div class="form-group row">
    <div class="col-sm-8">
        <form class="md-float-material card-block">

            <div class="form-radio">
                <div class="radio radiofill radio-inline">
                    <label>
                        <input type="radio" name="radio" checked="checked" (change)="check('home')">
                        <i class="helper"></i>Retiro en domicilio del vendedor - 
                        <br/>Al finalizar la compra te daremos los datos de contacto del vendedor.
                    </label>
                </div>
            </div>
            <br/>
            <div class="form-radio">
                <div class="radio radiofill radio-inline">
                    <label>
                        <input type="radio" name="radio" #radio (change)="check('branch')">
                        <i class="helper"></i>Retiro en una sucursal
                    </label>
                </div>
            </div>
            <br/>
            <div [hidden]="branch">
                <h4 class="sub-title">Ingresa tu código postal para buscar sucursales</h4>
                <div class="input-group input-group-button">
                    <input type="text" class="form-control" placeholder="Código postal">
                    <span class="input-group-addon" id="basic-addon10">
                <button class="btn btn-primary">Buscar</button>
                </span>
                <a href="http://wxw.oca.com.ar/Contenidos_Dinamicos/cpa.asp" target="_blank">.    No se mi código</a>
                </div>
            </div>
            <div class="form-radio">
                <div class="radio radiofill radio-inline">
                    <label>
                        <input type="radio" name="radio" #radio (change)="check('sendHome')">
                        <i class="helper"></i>Envio a mi domicilio
                    </label>
                </div>
            </div>
            <br/>
            <div [hidden]="sendHome">
                <h4 class="sub-title">Ingresa tu código postal para ver las opciones y costos de envío</h4>
                <div class="input-group input-group-button">
                    <input type="text" class="form-control" placeholder="Código postal">
                    <span class="input-group-addon" id="basic-addon10">
                <button class="btn btn-primary">Buscar</button>
                </span>
                <a href="http://wxw.oca.com.ar/Contenidos_Dinamicos/cpa.asp" target="_blank">.    No se mi código</a>
                </div>
            </div> 
            <br/>
            <div class="col-sm-10">
                <a type="submit" class="btn btn-primary m-b-0" (click)="sendTypeShip()">Continuar</a>
            </div>  
        </form>
    </div>
    <!-- desde aqui el detalle del item a vender -->
    <div class="col-sm-4">
        <div class="card gallery-desc">
            <div class="masonry-media">
                <a class="media-middle" href="#!">
                    <img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/jsa-s3-bucketimage/dev/image/{{Item.principalImage}}" alt="masonary">
                </a>
            </div>
            <div class="card-block">
                <h6 class="job-card-desc">{{Item.name}}</h6>
                <p class="text-muted">{{Item.description}}</p>
                <div class="job-meta-data"><i class="icofont icofont-safety"></i>{{quantity}} <a *ngIf="quantity == 1">Unidad</a><a *ngIf="quantity != 1">Unidades</a></div>
                <div class="job-meta-data"><i class="icofont icofont-university"></i>{{Item.price}}</div>
            </div>
        </div>
    </div>
    <!-- hasta aqui el detalle del item a vender --> 
</div>
