<form class="md-float-material card-block">
  <h5 *ngIf="isOtro()">Datos de contacto</h5>
    <div *ngIf="isOtro()" class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="icofont icofont-ui-user"></i></span>
                <input id="phone" type="text" (keypress)="keyPress($event)" class="form-control" name="phone" [(ngModel)]="phone" [value]="phone" placeholder="Telefono" minlength=10 maxlength=10 >
            </div>
            <div class="error-g row">
                <p  [hidden]="hidPhone">* Teléfono requerido</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="icofont icofont-man-in-glasses"></i></span>
                <input type="text" (keypress)="keyPress($event)" class="form-control" name="phone2" [(ngModel)]="phone2" placeholder="Telefono opcional" minlength=10 maxlength=10 >
            </div>
            <div class="error-g row">
                <p></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="isOtro()" class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="icofont icofont-ui-note"></i></span>
                <input type="text" class="form-control" name="email" [(ngModel)]="email" placeholder="Correo electronico" (keypress)="keyPressEmail($event)">
            </div>
            <div class="error-g row">
                <p></p>
            </div>
        </div>
        <div *ngIf="isOtro()" class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="icofont icofont-cur-dollar"></i></span>
                <input type="text" class="form-control" name="webSite" [(ngModel)]="webSite" placeholder="Sitio Web" >
            </div>
            <div class="error-g row">
                <p></p>
            </div>
        </div>
    </div>
    <h5>Precio</h5>
    <!--div *ngIf="isOtro()" class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon">
            <input type="radio" id="option2" aria-label="Radio button for following text input" name="radiob" (change)="checkPrice('fijo')">
          </span>
            <select class="form-control form-control-primary" name="money" [(ngModel)]="money">
                <option value="ARS" >$</option>
                <option  value="USD" >U$S</option>
            </select>
          <input id="price" type="text" class="form-control" name="price" [(ngModel)]="price" placeholder="Ej. 10.00" aria-label="Text input with radio button"  (keypress)="keyPress($event)">
        </div>
        <div class="error-g row">
            <p style="margin-left:60%;" [hidden]="hidPrice">Ingrese precio</p>
        </div>
      </div>
      <div *ngIf="isOtro()" class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon">
            <input type="radio" id="option1" aria-label="Radio button for following text input" name="radiob"  checked="checked" (change)="checkPrice('convenir')">
          </span>
          <label class="form-control" aria-label="Text input with radio button">A convenir</label>
        </div>
        <div class="error-g row">
            <p></p>
        </div>
      </div>
    </div-->
<!--******** BEGIN RADIO BUTTONS (PRECIO FIJO) Y (A CONVENIR) *******-->
<div *ngIf="zonaServ()" class="row">
    <div class="col-sm-6">
        <div class="form-radio">
            <div class="radio radiofill radio-inline">
                <label>
                    <input type="radio" id="option2" aria-label="Radio button for following text input" name="radiob" (change)="checkPrice('fijo')">
                    <i class="helper"></i>Precio fijo
                </label>
            </div>
        </div>
        <div class="input-group">
            <input (focus)="focus_g()" id="price" type="text" class="form-control" name="price" [(ngModel)]="price" placeholder="Ej. 10.00" (keypress)="keyPress($event)" style="width:60%;">
            <select (focus)="focus_g()" class="form-control form-control-primary" name="money" [(ngModel)]="money">
                <option value="ARS" >$</option>
                <option  value="USD" >U$S</option>
            </select>
        </div>
        <div class="error-g row">
            <p [hidden]="hidPrice">* Ingrese precio</p>
        </div>
        <div class="form-radio">
            <div class="radio radiofill radio-inline">
                <label>
                    <input type="radio" id="option1" aria-label="Radio button for following text input" name="radiob" checked="checked" (change)="checkPrice('convenir')">
                    <i class="helper"></i>Precio a convenir
                </label>
            </div>
        </div>
        <div class="error-g row">
            <p></p>
        </div>
    </div>
</div>

<div *ngIf="isPropertyMotorized()" class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <input id="price" type="text" class="form-control" name="price" [(ngModel)]="price" placeholder="Ej. 10.00" (keypress)="keyPress($event)" style="width:60%;">
            <select class="form-control form-control-primary" name="money" [(ngModel)]="money">
                <option value="ARS" >$</option>
                <option  value="USD" >U$S</option>
            </select>
        </div>
        <div class="error-g row">
            <p [hidden]="hidPrice">* Ingrese precio</p>
        </div>
    </div>
</div>
<!--******** BEGIN RADIO BUTTONS (PRECIO FIJO) Y (A CONVENIR) *******-->

    <div *ngIf="isProduct()" class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="icofont icofont-cur-dollar"></i></span>
                <input id="price" type="text" (keypress)="keyPress($event)" class="form-control" name="price" [(ngModel)]="price" placeholder="Precio por unidad Ej. 10.00" >
            </div>
            <div class="error-g row">
                <p [hidden]="hidPrice">* Ingrese precio</p><p [hidden]="hidPriceExedido">* No puede vender productos mayor a 29.900$ cuando el envio es a cargo del comprador!</p>
            </div>
        </div>
    </div>
    <div *ngIf="isProduct()" class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <input type="checkbox" name="priceDiscount1"  [checked]="checkedDiscount" (click)="discountPrice($event)" [(ngModel)]="priceDiscount1">Ofrecer Descuento
            </div>
            <div class="error-g row">
                <p></p>
            </div>
        </div>
    </div>
    <div *ngIf="isOtro()">
            <h5>Ubicacion del <span *ngIf="typeCatPre=='Service'">servicio</span><span *ngIf="typeCatPre=='Property'">inmueble</span><span *ngIf="typeCatPre=='Motorized'">vehículo</span></h5>
            <div class="row">
                <div  class="col-sm-6" >
                    <select id="country" class="form-control form-control-primary" #w (change)="getProvince(w.value)">
                        <option value="0">Seleccione su país</option>
                        <option *ngFor="let country of countryList" [value]="country.countryId" >{{country.name}}</option>
                    </select>
                    <div class="error-g row">
                        <p  [hidden]="hidCountry">* Seleccione un país</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div  class="col-sm-6" *ngIf="provinceList!=null">
                    <select id="province" class="form-control form-control-primary" #t (change)="getCity(t.value)">
                        <option>Seleccione una provincia/departamento/estado</option>
                        <option *ngFor="let province of provinceList" [value]="province.provinceId" >{{province.name}}</option>
                    </select>
                    <div class="error-g row">
                        <p  [hidden]="hidProvince">* Seleccione una provincia/departamento/estado</p>
                    </div>
                </div>
                <div class="col-sm-6" [hidden]="cityHid">
                    <select id="city" name="select" class="form-control form-control-primary" #u (change)="getBarrio(u.value)">
                        <option value="opt1">Seleccione una Ciudad</option>
                        <option *ngFor="let city of cityList" [value]="city.cityId" > ( {{city.codigopostal}} ) {{city.name}}</option>
                    </select>
                    <div class="error-g row">
                        <p  [hidden]="hidCity">* Seleccione una ciudad</p>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row"> 
                <div class="col-sm-6" [hidden]="barrioHid">
                    <select name="select" class="form-control form-control-primary" #v (change)="setBarrio(v.value)">
                        <option value="opt1">Seleccione un Barrio</option>
                        <option *ngFor="let barrio of barrioList" [value]="barrio.barrioId">{{barrio.name}}</option>
                    </select>
                    <div class="error-g row">
                        <p></p>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icofont icofont-ui-user"></i></span>
                        <input id="street" type="text" class="form-control" name="street" [(ngModel)]="street" placeholder="Calle">
                    </div>
                    <div class="error-g row">
                        <p  [hidden]="hidStreet">* Calle requerido</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icofont icofont-man-in-glasses"></i></span>
                        <input id="number" type="text" (keypress)="keyPress($event)" class="form-control" name="number" [(ngModel)]="number" placeholder="Número">
                    </div>
                    <div class="error-g row">
                        <p  [hidden]="hidNumber">* Numero requerido</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icofont icofont-ui-user"></i></span>
                        <input type="text" (keypress)="keyPress($event)" class="form-control" name="postalCode" [(ngModel)]="postalCode" placeholder="Codigo postal" disabled="disabled">
                    </div>
                    <div class="error-g row">
                        <p></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icofont icofont-man-in-glasses"></i></span>
                        <input type="text" class="form-control" name="aditional" [(ngModel)]="aditional" placeholder="Datos adicionales: Ej. Frente a la plaza Dorrego">
                    </div>
                    <div class="error-g row">
                        <p></p>
                    </div>
                </div>
            </div>
            </div>
            <div *ngIf="isProduct()">
                <div class="row">
                        <div  class="col-sm-6" >
                                <select id="condition" class="form-control form-control-primary" #o (change)="capturarCondicionVenta(o.value)">
                                    <option value="0"disabled>TIPO Y CONDICIONES DE VENTA *</option>
                                    <option value="Fijo">Precio fijo</option>
                                    <option value="Subasta" disabled>Subasta</option>
                                    
                                </select>
                                <div class="error-g row">
                                    <p  [hidden]="hidProductSalesCondition">* Seleccione una opción</p>
                                </div>
                            </div>
                </div>
                <br/>
                <div class="row">
                        <div  class="col-sm-6" >
                            <select id="payMethod" class="form-control form-control-primary"  #v (change)="pagoMedios(v.value)">
                                <option value="0"disabled>MEDIOS DE PAGO</option>
                                <option value="1">Aceptar pagos solo por Yingul</option>
                                <option value="2" disabled>Aceptar pagos por Yingul y cobro en persona</option>
                            </select>
                            <div class="error-g row">
                                <p  [hidden]="hidProductPaymentMethod">* Seleccione una opción</p>
                            </div>
                        </div>
                </div>
                <br/>
                    <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
        
                                    <h5>Formas de entrega</h5>
                                    
                                </div>             
                            </div>
        
                    </div>
        
                    <div class="row">
                            <hr class="m-t-20 m-b-20">
                            <div class="col-sm-12">
                                    <div class="table-responsive" >
                                        <table class="table  invoice-detail-table">
        
                                            <input id="yingulExpress" type="checkbox" name="productFormDelivery" id="productFormDelivery" value="sucursal" [(ngModel)]="productFormDelivery" (click)="test($event)"><label for="productFormDelivery">Ofrecer envíos por Yingul Express</label><span style="color:red;margin-left:20px;font-size:.8em;" [hidden]="hidYingulExpress">* Debe seleccionar este campo.</span><br>
                                            <tbody [hidden]="popupEnvios">
                                                <tr>
                                                    <td class="radio radiofill radio-inline">
                                                        <input type="radio" name="shippingMethod" id="envioComprador" value="normal" (click)="envioComprador($event)" ><label for="envioComprador">Envío a cargo del comprador</label><br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="radio radiofill radio-inline"> 
                                                        <!--input type="radio" name="shippingMethod" value="normal2" (click)="envioGratis($event)" checked="checked">Envío gratis. Pagarás $ {{precioEnvio}} por envío.<br-->    
                                                        <input type="radio" name="shippingMethod" id="envioGratis" value="normal2" (click)="envioGratis($event)" checked="checked"><label for="envioGratis">Envió gratis al comprador. (paga el vendedor aprox. $  {{precioEnvio}})</label><br>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <div [hidden]=popupUbicacion>
                                            <button type="button" class="btn btn-primary waves-effect waves-light m-r-20" (click)="ubicacion()">
                                                    <span class="m-l-10">* Ingresa tu domicilio</span>

                                             </button>
                                             <span style="color:red;margin-left:20px;font-size:.8em;" [hidden]="hidIngresarDomicilio">* Debe ingresar su domicilio.</span>
                                            </div>
                                            <input type="checkbox" name="productFormDeliveryP" value="persona" [(ngModel)]="productFormDeliveryP" (click)="test2($event)"  [checked]="checkRPerson" [disabled]="disabledRPerson">También ofrecer retiro en persona
                                            <br>
                                            <hr class="m-t-20 m-b-20">
                                            <!--<input type="checkbox" name="productFormDeliveryI" value="international" [(ngModel)]="productFormDeliveryI" (click)="test3($event)"  [checked]="checkInter" [disabled]="disabledInter">Envíos internacionales(FedEx-->
                                        </table>
                                    </div>
                            </div>
                        <hr class="m-t-20 m-b-10">
                    </div>


                <!--div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="ubicacion()">Ubicacion
                            </button>
                        </div>
                    </div>
                </div-->
            </div>

    <!--div [hidden]=true>
            <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <h5>Formas de entrega</h5>                            
                        </div>                
                    </div>
            </div>

            <div class="row">
                    <hr class="m-t-20 m-b-20">
                    <div class="col-sm-12">
                            <div class="table-responsive" >
                                <table class="table  invoice-detail-table">
                                    <tbody [hidden]="false">
                                        <tr>
                                            <td>
                                            <input type="checkbox" name="productFormDelivery" value="sucursal" [(ngModel)]="productFormDelivery" (click)="test($event)" >Ofrecer envíos por Yingul Envíos<br>
                                            </td>
                                        </tr>
                                        <tr [hidden]="popupEligeDomicilio">
                                             <button type="button" class="btn btn-primary waves-effect waves-light m-r-20" (click)="calcularCosto()">
                                                       <span class="m-l-10">CALCULAR COSTOS</span>
                                                </button>
                                        </tr>      
                                    </tbody>
                                    <input type="checkbox" name="productFormDeliveryP" value="domicilio" [(ngModel)]="productFormDeliveryP">También ofrecer retiro en persona
                                </table>
                            </div>
                        </div>
                        <hr class="m-t-20 m-b-10">
            </div>



    </div-->

    

    <div *ngIf="zonaServ()">
        <h5>Zona de Cobertura</h5>
        <hr style="margin-top:0;margin-bottom:0;">
        <div class="row">
        <div  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let province of provinceList">
            <label class="custom-control custom-checkbox" >
            <input type="checkbox" class="custom-control-input" #checkbox (change)="check(province)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{province.name}}</span>
            </label>
        </div>
        </div>

    </div>

    <br/>
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="sendPrice()">Guardar
                </button>
                <button type="button" class="btn btn-warning waves-effect waves-light" (click)="back()">Atras
                </button>
            </div>
        </div>
    </div>
</form>

<div class="popup" [hidden]="true">
    <h4 class="sub-title">Ingresa tu código postal </h4>
    <div [hidden]="btnCP" class="input-group input-group-button">
        <input type="text" (keypress)="keyPressCP($event)" class="form-control" name="codigoPostalE"  [(ngModel)]="codigoPostalE"  placeholder="Código postal"  minlength=4 maxlength=4>
        <span class="input-group-addon" id="basic-addon10">
            <button  class="btn btn-primary"  (click)="buscarCP()">Buscar</button>
        </span>
    <a href="https://codigopostal.com.ar/" target="_blank">.    No se mi código</a>
    </div>


    <div  [hidden]="cityHid">
            <div class="row">        
                <div  class="input-group input-group-button">            
                    <input type="text"  class="form-control" name="postalCode" [(ngModel)]="postalCode" placeholder="Codigo postal" readonly="readonly">
                    <span class="input-group-addon" id="basic-addon10">
                            <button  class="btn btn-primary"  (click)="cambiarCP()">Codigo postal Cambiar</button>
                    </span>
                </div>                
            </div>

            <h4 class="sub-title">{{provinciaCP}}</h4>
            <div class="col-sm-6" [hidden]="false">
                    <select name="select" class="form-control form-control-primary" #u (change)="getBarrio(u.value)">
                        <option value="opt1">Seleccione una Ciudad</option>
                        <option *ngFor="let city of cityList" [value]="city.cityId" >{{city.name}}</option>
                    </select>
            </div>
            <br/>
            <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-ui-user"></i></span>
                            <input type="text" class="form-control" name="street" [(ngModel)]="street" placeholder="Calle">
                        </div>
                    </div>
            </div>
            <div class="row">       
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-man-in-glasses"></i></span>
                            <input type="text" (keypress)="keyPress($event)" class="form-control" name="number" [(ngModel)]="number" placeholder="Número">
                        </div>
                    </div>
            </div>  


            <div class="row">
                <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-man-in-glasses"></i></span>
                            <input type="text" class="form-control" name="aditional" [(ngModel)]="aditional" placeholder="Datos adicionales">
                        </div>
                </div>
            </div>
    </div>
                
            
            <div class="row">
                
                <div class="col-sm-2">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="aceptar()">Aceptar</button>
                        </div>
                </div>
            </div>


</div>
<div class="content_popup_g" align="center" [hidden]="popupDescuento">
    <div class="popup" >
            <div style="position:absolute; top:-35px; right:-35px;">
                    <span (click)="popupHide()">
                        <i style="font-size:2em; color:white; cursor:pointer;" class="icofont icofont-ui-close"></i>
                    </span>
                </div>
        <h4 class="sub-title">Crear descuento</h4>
        
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icofont icofont-cur-dollar"></i></span>
                    <input type="text" class="form-control" name="priceNormal" [(ngModel)]="priceNormal" placeholder="Ej. 300.00" >
                </div>
            </div>
            <div class="col-sm-6">
                    <div class="input-group">
                            <span >Precio Estándar: </span>  
                            <span class="itemDiscount"> $ &nbsp;{{priceNormal}} </span> 
                    </div>            
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icofont icofont-cur-dollar"></i></span>
                    <input type="text" class="form-control" name="priceDiscount" [(ngModel)]="priceDiscount" placeholder="Ej. 200.00" >
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                        <div> 
                            <span >Precio con descuento: $ </span> 
                            <span > {{priceDiscount}} </span>
                        </div> 
                        <div class="itemDiscount"></div> 
                </div>
            </div>
        </div>

                
                <div class="row">
                    
                    <div class="col-sm-2">
                            <div class="text-center">
                                <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="aceptarDiscount()">Aceptar</button>
                            </div>
                    </div>
                </div>


    </div>
</div>
<!--    FORMULARIO POPUP     -->
<div class="content_popup_g" align="center" [hidden]="popupUbication">
    <div class="popup" >   
            <div [hidden]="false">
                <div  [hidden]="false">
                    <h5>Tu ubicacion</h5>
                    <h6>Ingresa estos datos por unica vez</h6>
                    <div class="row">
                        <div  class="col-sm-6" >
                            <select class="form-control form-control-primary" #w (change)="getProvince(w.value)" >
                                <option value="0">Seleccione su país</option>
                                <option *ngFor="let country of countryList" [value]="country.countryId" >{{country.name}}</option>
                            </select>
                            <div class="error-g error-form-ub" [hidden]="hidUbicationCountry">
                                <p>Seleccione un país</p>
                            </div>
                        </div>
                        <div  class="col-sm-6" *ngIf="provinceList!=null">
                            <select class="form-control form-control-primary" #t (change)="getCity(t.value)" >
                                <option value="0">Seleccione una provincia</option>
                                <option *ngFor="let province of provinceList" [value]="province.provinceId" >{{province.name}}</option>
                            </select>
                            <div class="error-g error-form-ub" [hidden]="hidUbicationProvince">
                                <p>Seleccione una provincia/departamento/estado</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6" [hidden]="cityHid">
                            <select name="select" class="form-control form-control-primary" #b (change)="getBarrio( b.value)">
                                <option value="opt1">Seleccione una Ciudad</option>
                                <option *ngFor="let city of cityList" [value]="city.cityId"  >( {{city.codigopostal}} ){{city.name}}  </option>
                            </select>
                            <div class="error-g error-form-ub" [hidden]="hidUbicationCity">
                                <p>Seleccione una ciudad</p>
                            </div>
                        </div>
                        <br/>
                        <div class="col-sm-6" [hidden]="barrioHid">
                            <select name="select" class="form-control form-control-primary" #v (change)="setBarrio(v.value)">
                                <option value="opt1">Seleccione un Barrio</option>
                                <option *ngFor="let barrio of barrioList" [value]="barrio.barrioId" >{{barrio.name}}</option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-ui-user"></i></span>
                                <input type="text"  class="form-control" name="postalCode" [(ngModel)]="postalCode" placeholder="Codigo postal" readonly="readonly" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-ui-user"></i></span>
                                <input type="text" class="form-control" name="street" [(ngModel)]="street" placeholder="Calle">
                            </div>
                            <div class="error-g error-form-ub" [hidden]="hidUbicationStreet">
                                <p>Ingrese calle</p>
                            </div>
                        </div>  
                    </div>
                    <div class="row">       
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-man-in-glasses"></i></span>
                                <input type="text" class="form-control" name="number" [(ngModel)]="number" placeholder="Número *">
                            </div>
                            <div class="error-g error-form-ub" [hidden]="hidUbicationNumber">
                                <p>Ingrese número</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-man-in-glasses"></i></span>
                                <input type="text" class="form-control" name="department" [(ngModel)]="department" placeholder="Piso / Departamento">
                            </div>
                        </div>
                    </div>  
                    <div class="row">       
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-man-in-glasses"></i></span>
                                <input type="text" class="form-control" name="withinStreets" [(ngModel)]="withinStreets" placeholder="Entre calles">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-man-in-glasses"></i></span>
                                <input type="text" class="form-control" name="aditional" [(ngModel)]="aditional" placeholder="Referencias (Ej. Casa con rejas negras)">
                            </div>
                            <div class="error-g error-form-ub" [hidden]="hidUbicationAditional">
                                <p>Campo requerido</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <h5>Datos personales</h5>
                <br/>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-ui-user"></i></span>
                            <input type="text" class="form-control" name="telephone" [(ngModel)]="telephone" placeholder="Teléfono">
                        </div>
                        <div class="error-g error-form-ub" [hidden]="hidUbicationPhone">
                            <p>Ingrese teléfono</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <select class="input-group-addon"#a (change)="getDniCuit(a.value)">
                                <option [value]="1" >DNI</option>
                                <option [value]="2" >CUIT</option>
                            </select>
                        <input type="text" class="form-control col-sm-11" name="documentNumber" [(ngModel)]="documentNumber" placeholder="Número de DNI/CUIT" aria-label="Text input with radio button" [maxlength]="maxDocumentNumber">
                        </div>
                        <div class="error-g error-form-ub" [hidden]="hidUbicationDni">
                            <p>Ingrese numero de documento</p>
                        </div>
                    </div>
                </div>
                <br/>      
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">
                        <div class="text-center">
                            <button type="button" class="btn btn-success waves-effect waves-light m-r-10" (click)="aceptar()">Aceptar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</div>