@media screen and (max-width: 992px) {
    .phone {      
        display: none;
	}
	.phoneMirrow{
		display: inline;
	}
	img{
		object-fit: cover;
		height: 210px;
	}
}
@media screen and (min-width: 993px) {
	.phoneMirrow2{
		display: none;
	}
}
