
<br/>
<h5>Categoria</h5><br/>
<strong>{{typeCatEs}}</strong>
<strong *ngFor="let category of categoryList">
        /{{category.category.name}}
</strong>
<form class="md-float-material card-block" enctype="multipart/form-data">
    <div ngSwitch="{{typeCat}}">
        <div *ngSwitchCase="'Service'">
                <h5>Describe tu Servicio</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                            <input id="title" type="text" class="form-control" placeholder="Titulo Ej: Clases de particulares a domicilio" name="title" [(ngModel)]="title">
                        </div>
                        <div class="error-g row">
                            <p  [hidden]="hidServicesTitle">* Título requerido</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-copy-alt"></i></span>
                            <input id="description" type="text" class="form-control" placeholder="Descripción" name="description" [(ngModel)]="description">
                        </div>
                        <div class="error-g row">
                            <p  [hidden]="hidServiciosDescription">* Descripción requerido</p>
                        </div>
                    </div>
                </div>
                <h5>Video de tu Servicio</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                            <input type="text" class="form-control" placeholder="Link desde Youtube" name="video" [(ngModel)]="video">
                        </div>
                        <div class="error-g row">
                            <p></p>
                        </div>
                    </div>
                </div>
                <h5>Fotos de tu Servicio</h5>
        </div>
        <div *ngSwitchCase="'Product'">
                <h5>Describe tu Producto</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                            <input id="title" type="text" class="form-control" placeholder="Titulo Ej: Camisa Lacoste Hombre Manga Laraga" name="title" [(ngModel)]="title">
                        </div>
                        <div class="error-g row">
                            <p  [hidden]="hidProductTitle">* Título requerido</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-copy-alt"></i></span>
                            <input type="text" class="form-control" placeholder="Description" name="description" [(ngModel)]="description">
                        </div>
                        <div class="error-g row">
                            <p></p>
                        </div>
                    </div>
                </div>
                <h5>Video de tu Producto</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                            <input type="text" class="form-control" placeholder="Link desde Youtube" name="video" [(ngModel)]="video"
                            >
                            
                        </div>
                        <div class="error-g row">
                            <p></p>
                        </div>
                    </div>
                </div>            

        
                <div class="row">
                        <div  class="col-sm-6" >
                            <select id="condition" class="form-control form-control-primary" #t (change)="capturarCondicion(t.value)">
                                <option value="0" disabled>Indica la condición de tu producto</option>
                                <option value="Nuevo">Nuevo</option>
                                <option value="Usado">Usado</option>
                            </select>
                            <div class="error-g row">
                                <p  [hidden]="hidProductCondition">* Campo requerido</p>
                            </div>
                        </div>
                        <!--div  class="col-sm-6" >
                            <select class="form-control form-control-primary" #t (change)="capturarCondicionVenta(t.value)">
                                <option value="0">Tipo y condiciones de venta *</option>
                                <option value="1">Precio fijo</option>
                                <option value="2">Subasta</option>
                                
                            </select>
                        </div-->
                </div>
            
            <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <h5></h5>                                
                        </div>                
                    </div>

            </div>
        
        
            <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i  class="icofont icofont-all-caps"></i></span>
                            <input id="productQuantity" type="text" (keypress)="keyPress($event)" class="form-control" placeholder="Cantidad Ej: 1" name="productQuantity" [(ngModel)]="productQuantity">
                        </div>
                        <div class="error-g row">
                            <p  [hidden]="hidProductQuantity">* Cantidad requerida</p>
                        </div>
                    </div>
                    
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i  class="icofont icofont-all-caps"></i></span>
                        <input id="productPeso" type="text" class="form-control" (keypress)="keyPress($event)" placeholder="Peso Neto del item en gr. Ej: 1000" name="productPeso" [(ngModel)]="productPeso">

                    </div>
                    <div class="error-g row">
                        <p  [hidden]="hidProductPeso">* Peso requerido</p>
                    </div>

                </div>

            </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                    <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">Largo en cm: </span>
                                    <input id="productLength" type="text" class="form-control" (keypress)="keyPress($event)"placeholder="Longitud en cm Ej: 25" name="productLength" [(ngModel)]="productLength">
                                    
                                </div>
                                <div class="error-g row">
                                    <p  [hidden]="hidProductLength">* Longitud requerido</p>
                                </div>
                            </div>
            
                    </div>
                    <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">Ancho en cm: </span>
                                    <input id="productWidth" type="text" class="form-control" (keypress)="keyPress($event)"placeholder="Ancho en cm Ej: 20" name="productWidth" [(ngModel)]="productWidth">
            
                                </div>
                                <div class="error-g row">
                                    <p  [hidden]="hidProductWidth">* Ancho requerido</p>
                                </div>
                            </div>
            
                    </div>
                    <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">Alto en cm: </span>
                                    <input id="productHeight" type="text" class="form-control" (keypress)="keyPress($event)"placeholder="Altura en cm Ej: 25" name="productHeight" [(ngModel)]="productHeight">
            
                                </div>
                                <div class="error-g row">
                                    <p  [hidden]="hidProductHeight">* Altura requerido</p>
                                </div>
                            </div>
            
                    </div>
                    <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">Volumen en cm3: </span>
                                    <input type="text" class="form-control" (keypress)="keyPress($event)"placeholder="Volumen de la caja" name="productVolumen" [(ngModel)]="productVolumen" value="{{productLength*productWidth*productHeight}}" disabled>
            
                                </div>
                                <div class="error-g row">
                                    <p  [hidden]="hidProductVolumen">* Volumen requerido</p>
                                </div>
                            </div>
            
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 conten-caja">
                    <span><i class="icofont icofont-box"></i></span>
                </div>
            </div>
        </div>
    </div>
            <!--div class="row">
                    <div  class="col-sm-6" >
                            <select class="form-control form-control-primary"  #t (change)="pagoEnvio(t.value)">
                                <option value="0">Pago del envió</option>
                                <option value="1">Pagado por él comprador</option>
                                <option value="2">Pagado por él vendedor</option>
                            </select>
                        </div>

            </div-->
            <!---->
            <!--br/>
            <div class="row">
                    <div  class="col-sm-6" >
                            <select class="form-control form-control-primary"  #t (change)="pagoMedios(t.value)">
                                <option value="0">MEDIOS DE PAGO</option>
                                <option value="1">Aceptar pagos solo por Yingul</option>
                                <option value="2">Aceptar pagos por Yingul y cobro en persona</option>
                            </select>
                        </div>

            </div-->
            <br/>



            <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                               
                            <h5> <br>Garantía</h5>
                            
                        </div>                
                    </div>

            </div>

            <div class="row">
                    <hr class="m-t-20 m-b-20">
                    <div class="col-sm-12">
                            <div class="table-responsive" >
                                <table class="table  invoice-detail-table">

                                    <tbody [hidden]="false">
                                        <tr>
                                            <td>
                                            <!--input type="checkbox" name="productW" value="sucursal" (click)="popGarantia($event)" >Con garantía<br-->
                                            <input type="radio" name="shippingMethod" value="normal" (click)="popGarantia($event)" >Con garantía<br>
                                            </td>
                                        </tr>
                                        <tr [hidden]="popupGarantia">
                                                <div class="syi-input-countdown">
                                                    <span>
                                                        <textarea maxlength="250" class="" type="textarea" name="productWarranty" [(ngModel)]="productWarranty"></textarea>
                                                    </span>
                                                    <p class="ui-countdown">Máximo 250 caracteres.</p>
                                                </div>

                                        </tr> 
                                        <tr>
                                            <td>
                                                    <!--input type="checkbox" name="productW" value="domicilio" >Sin garantía<br-->
                                                    <input type="radio" name="shippingMethod" value="normal2" (click)="popSinGarantia($event)">Sin garantía<br>
                                            </td>
                                              
                                        </tr>  
    
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                        <hr class="m-t-20 m-b-10">
            </div>
        
              

           
            <h5>Fotos de tu Producto</h5>           
        </div>
        <div *ngSwitchCase="'Property'">
                <div class="row">
                        <div class="col-sm-6">
                            <h5>Describe tu Inmueble</h5>
                        </div>
                        <div class="col-sm-6">
                           
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                                <input id="title" type="text" class="form-control" placeholder="Titulo Ej: Casa de 5 ambientes y 2 baños" name="title" [(ngModel)]="title">
                            </div>
                            <div class="error-g row">
                                <p  [hidden]="hidPropertyTitle">* Título requerido</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="input-group">
                                        <span class="input-group-addon"><i class="icofont icofont-copy-alt"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Description" name="description" [(ngModel)]="description">
                                </div>
                                <div class="error-g row">
                                    <p></p>
                                </div>
                        </div>
                       
                    </div>
                    <h5>Video de tu Inmueble</h5>
                    <div class="row">
                            <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                                        <input type="text" class="form-control" placeholder="Link desde Youtube" name="video" [(ngModel)]="video">
                                    </div>
                                    <div class="error-g row">
                                        <p></p>
                                    </div>
                            </div>
                    </div>
                <h5>Datos de Inmueble</h5>
                
                <p class="ch-form-hint">* Datos obligatorios</p>  
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                            <input id="propertyTotalArea" type="text" (keypress)="keyPress($event)" class="form-control" placeholder="Superficie total m2 *" name="propertyTotalArea" [(ngModel)]="propertyTotalArea">
                        </div>
                        <div class="error-g row">
                            <p  [hidden]="hidPropertyTotalArea">* Campo requerido</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                                <input id="propertyDuildedArea" type="text"  (keypress)="keyPress($event)" class="form-control" placeholder="Superficie cubierta m2 *" name="propertyDuildedArea" [(ngModel)]="propertyDuildedArea">
                            </div>
                            <div class="error-g row">
                                <p  [hidden]="hidPropertyDuildedArea">* Campo requerido</p>
                            </div>
                    </div>
            
                </div>

                <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                                <input type="text" (keypress)="keyPress($event)" class="form-control" placeholder="Años de Antigüedad" name="propertyYear" [(ngModel)]="propertyYear">
                            </div>
                            <div class="error-g row">
                                <p></p>
                            </div>
                        </div>

                
                </div>

                <h5>Comodidades y amenities</h5>
                <div class="row">
                <div  class="col-sm-8" *ngFor="let amenities of amenitiesList">
                    <label class="custom-control custom-checkbox" >
                    <input type="checkbox" class="custom-control-input" #checkbox (change)="checkAmenities(amenities)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{amenities.name}}</span>
                    </label>
                </div>
                </div>

                <h5>Ambientes</h5>
                <div class="row">
                <div  class="col-sm-8" *ngFor="let ambient of ambientList">
                    <label class="custom-control custom-checkbox" >
                    <input type="checkbox" class="custom-control-input" #checkbox (change)="checkAmbient(ambient)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ambient.name}}</span>
                    </label>
                </div>
                </div>

                    <h5>Fotos de tu Inmueble</h5>
        </div>
           
        <div *ngSwitchCase="'Motorized'">
                <h5>Describe tu Vehículo</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                            <input id="title" type="text" class="form-control" placeholder="Ej.: Volkswagen Golf Motor 2.0 2006 Azul 5 puertas" name="title" [(ngModel)]="title">
                        </div>
                        <div class="error-g row">
                            <p  [hidden]="hidMotorizedTitle">* Título requerido</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-copy-alt"></i></span>
                            <input type="text" class="form-control" placeholder="Description" name="description" [(ngModel)]="description">
                        </div>
                        <div class="error-g row">
                            <p></p>
                        </div>
                    </div>
                </div>
                <h5>Video de tu Vehículo</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                            <input type="text" class="form-control" placeholder="Link desde Youtube" name="video" [(ngModel)]="video">
                        </div>
                        <div class="error-g row">
                            <p></p>
                        </div>
                    </div>
                </div>

                
                <h5>Datos de Vehículo</h5>
                
                <p class="ch-form-hint">* Datos obligatorios</p>        
                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                            <input id="motorizedBrand" type="text" class="form-control" placeholder="Marca *" name="motorizedBrand" [(ngModel)]="motorizedBrand">
                        </div>
                        <div class="error-g row">
                            <p  [hidden]="hidMotorizedBrand">* Marca requerida</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                            <input id="motorizedYear" type="text" (keypress)="keyPress($event)" class="form-control" placeholder="Año *" name="motorizedYear" [(ngModel)]="motorizedYear">
                        </div>
                        <div class="error-g row">
                            <p  [hidden]="hidMotorizedYear">* Año requerido</p>
                        </div>
                    </div>
            
                </div>

                <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                                <input type="text" class="form-control" placeholder="Modelo" name="motorizedModel" [(ngModel)]="motorizedModel">
                            </div>
                            <div class="error-g row">
                                <p></p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                                <ul class="ch-form-options ch-box-list ch-leftcolumn">
                                    <li class="ch-form-row">
                                        <input type="checkbox" name="motorizedUnicoDue" id="motorizedUnicoDue" class="" [(ngModel)]="motorizedUnicoDue">
                                        <label for="motorizedUnicoDue" class="">Único dueño</label>
                                    </li>
                                </ul>
                        </div>
                   
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                            <input id="motorizedKilometers" type="text" class="form-control" (keypress)="keyPress($event)" placeholder="Kilómetros: *" name="motorizedKilometers" [(ngModel)]="motorizedKilometers">
                            <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                        </div>
                        <div class="error-g row">
                            <p  [hidden]="hidMotorizedKilometers">* Kms. requerido</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-all-caps"></i></span>
                            <input id="motorizedQuantity" type="text" class="form-control" (keypress)="keyPress($event)" placeholder="Cantidad: *" name="motorizedQuantity" [(ngModel)]="motorizedQuantity">
                        </div>
                        <div class="error-g row">
                            <p  [hidden]="hidMotorizedQuantity">Cantidad. requerido</p>
                        </div>
                    </div>
                </div>


                <div *ngIf="true">
                    
                        <h5>Seguridad</h5>

                        <div class="row">
                        <div  class="col-sm-8" *ngFor="let security of securityList">
                            <label class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input" #checkbox (change)="checkSecurity(security)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{security.name}}</span>
                            </label>
                        </div>
                        </div>
                    
                        <h5>Confort</h5>
                        <div class="row">
                        <div  class="col-sm-8" *ngFor="let confort of confortList">
                            <label class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input" #checkbox (change)="checkConfort(confort)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{confort.name}}</span>
                            </label>
                        </div>
                        </div>
    
                        <h5>Sonido</h5>
                        <div class="row">
                        <div  class="col-sm-8" *ngFor="let sound of soundList">
                            <label class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input" #checkbox (change)="checkSound(sound)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{sound.name}}</span>
                            </label>
                        </div>
                        </div>
    
                        <h5>Exterior</h5>
                        <div class="row">
                        <div  class="col-sm-8" *ngFor="let exterior of exteriorList">
                            <label class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input" #checkbox (change)="checkExterior(exterior)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{exterior.name}}</span>
                            </label>
                        </div>
                        </div>
    
                        <h5>Equipamiento</h5>
                        <div class="row">
                        <div  class="col-sm-8" *ngFor="let equipment of equipmentList">
                            <label class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input" #checkbox (change)="checkEquipment(equipment)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{equipment.name}}</span>
                            </label>
                        </div>
                        </div>
    
    
                    </div>

                <h5>Fotos de tu Automovil</h5>




        </div>
         
</div>





    <!--aqui pondremos el codigo para cargar imagenes con previsualizacion -->




    <div id="spinner" class="spinner">
        <label>Espere por favor</label>
    </div>
    <br/>
    <strong>Foto Principal</strong>
    <br/>
    <div class="row fondo-img-g">
        <div id="image-preview1" class="col-sm-2 m-l-10 m-r-10 m-b-10 m-t-10">
            <label for="image-upload1" id="image-label1">Foto Principal</label>
            <input type="file" name="image-upload1" id="image-upload1" (change)="ToWebpPrincipal()" />
        </div>
        <div id="image-preview2" class="col-sm-2 m-l-10 m-r-10 m-b-10 m-t-10">
            <label for="image-upload2" id="image-label2">Foto</label>
            <input type="file" name="image-upload2" id="image-upload2" (change)="ToWebp2()"/>
        </div>
        <div id="image-preview3" class="col-sm-2 m-l-10 m-r-10 m-b-10 m-t-10">
            <label for="image-upload3" id="image-label3">Foto</label>
            <input type="file" name="image-upload3" id="image-upload3" (change)="ToWebp3()"/>
        </div>
        <div id="image-preview4" class="col-sm-2 m-l-10 m-r-10 m-b-10 m-t-10">
            <label for="image-upload4" id="image-label4">Foto</label>
            <input type="file" name="image-upload4" id="image-upload4" (change)="ToWebp4()"/>
        </div>
        <div id="image-preview5" class="col-sm-2 m-l-10 m-r-10 m-b-10 m-t-10">
            <label for="image-upload5" id="image-label5">Foto</label>
            <input type="file" name="image-upload5" id="image-upload5" (change)="ToWebp5()"/>
        </div>
        <div id="image-preview6" class="col-sm-2 m-l-10 m-r-10 m-b-10 m-t-10">
            <label for="image-upload6" id="image-label6">Foto</label>
            <input type="file" name="image-upload6" id="image-upload6" (change)="ToWebp6()"/>
        </div>
        <div id="image-preview7" class="col-sm-2 m-l-10 m-r-10 m-b-10 m-t-10">
            <label for="image-upload7" id="image-label7">Foto</label>
            <input type="file" name="image-upload7" id="image-upload7" (change)="ToWebp7()"/>
        </div>
        <div id="image-preview8" class="col-sm-2 m-l-10 m-r-10 m-b-10 m-t-10">
            <label for="image-upload8" id="image-label8">Foto</label>
            <input type="file" name="image-upload8" id="image-upload8" (change)="ToWebp8()"/>
        </div>
        <div id="image-preview9" class="col-sm-2 m-l-10 m-r-10 m-b-10 m-t-10">
            <label for="image-upload9" id="image-label9">Foto</label>
            <input type="file" name="image-upload9" id="image-upload9" (change)="ToWebp9()"/>
        </div>
        <div id="image-preview10" class="col-sm-2 m-l-10 m-r-10 m-b-10 m-t-10">
            <label for="image-upload10" id="image-label10">Foto</label>
            <input type="file" name="image-upload10" id="image-upload10" (change)="ToWebp10()"/>
        </div>
    </div>
    <br/>
    <input [hidden]="true" id="principalWebp" name="principalWebp" />
    <input [hidden]="true" id="Webp2" name="Webp2" />
    <input [hidden]="true" id="Webp3" name="Webp3" />
    <input [hidden]="true" id="Webp4" name="Webp4" />
    <input [hidden]="true" id="Webp5" name="Webp5" />
    <input [hidden]="true" id="Webp6" name="Webp6" />
    <input [hidden]="true" id="Webp7" name="Webp7" />
    <input [hidden]="true" id="Webp8" name="Webp8" />
    <input [hidden]="true" id="Webp9" name="Webp9" />
    <input [hidden]="true" id="Webp10" name="Webp10" />

    <!--hasta aqui el codigo -->
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="sendDetail()">Siguiente
                </button>
                <button type="button" class="btn btn-warning waves-effect waves-light" (click)="back()">Atras
                </button>
            </div>
        </div>
    </div>

</form>


<!--div class="popup" [hidden]="popupEligeDomicilio">
        <h4 class="sub-title">Ingresa tu código postal para buscar sucursales</h4>
        <div class="input-group input-group-button">
            <input type="text" class="form-control" placeholder="Código postal" name="postalCode" [(ngModel)]="postalCode" >
            <span class="input-group-addon" id="basic-addon10"><value="domicilio" [(ngModel)]="shippingMethod">
                <button class="btn btn-primary" (click)="buscarSucursales()">Buscar</button>
            </span>
        <a href="https://codigopostal.com.ar/" target="_blank">.    No se mi código</a>
        </div>
        <div class="page-header-title">
            <h5>Ingresá tu código postal</h5>
            <hr class="m-t-20 m-b-20">
            <h6>Así podrás calcular el costo de envío y conocer los servicios disponibles</h6>
        </div>
        <div class="md-float-material">
                <hr class="m-t-20 m-b-20">

            <div class="input-group input-group-button">



                    <h6 class="col-sm-2">   Código postal:     </h6>
                <span class="input-group-addon">
                    
                </span>
                <input class="col-sm-2" type="text"  name="postalCode" [(ngModel)]="postalCode" placeholder="Ej.:1430">
                <div class="col-sm-6">
                        <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="buscar()">buscar</button>
                </div>

            </div>
        </div>

        
                <hr class="m-t-20 m-b-20">
                <div class="col-sm-12">
                        <div class="table-responsive" >
                            <table class="table  invoice-detail-table">
                                <thead>
                                    <tr class="thead-default">
                                        <th>Método de envío</th>
                                        <th>Costo</th>
                                        <th>Entrega estimada</th>
                                       
                                    </tr>
                                </thead>
                                <tbody [hidden]="popupCotizar">
                                    <tr>
                                        <td>
                                        <input type="radio" name="shippingMethod" value="sucursal" [(ngModel)]="shippingMethod">Retiro en una sucursal<br>
                                        </td>
                                        <td>$ {{priceSuc}}</td>
                                        <td>Llega entre el 21 y 26 de diciembre.</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                        <input type="radio" name="shippingMethod" value="normal" [(ngModel)]="shippingMethod">Normal a domicilio<br>
                                        </td>
                                        <td>$ {{priceDomi}}</td>
                                        <td>Llega entre el 21 y 26 de diciembre.</td>
                                        
                                       
                                    </tr>


                                </tbody>
                                <input type="radio" name="shippingMethod" value="domicilio" [(ngModel)]="shippingMethod">  Lo retiro en domicilio del vendedor
                            </table>
                        </div>
                    </div>
                    <hr class="m-t-20 m-b-10">
        <div class="row">
            
            <div class="col-sm-2">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="aceptar()">Aceptar</button>
                    </div>
            </div>
        </div>
    </div-->