<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">
        <!-- Page header start -->
        <div class="page-header">
            <div class="page-header-title">
                <h4>Confirmar entrega de producto</h4>
            </div>
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="/index">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="">Confirmar entrega</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Page header end -->
        <!-- Page body start -->
        <div class="page-body">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Product edit card start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>Confirmar entrega de producto en persona</h5>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="product-edit">
                                        <div class="tab-content">
                                                <form class="md-float-material card-block">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="icofont icofont-ui-user"></i></span>
                                                                <input type="text" class="form-control" placeholder="First Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="icofont icofont-man-in-glasses"></i></span>
                                                                <input type="text" class="form-control" placeholder="Last Name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="icofont icofont-ui-note"></i></span>
                                                                <input type="text" class="form-control" placeholder="Tax">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="icofont icofont-cur-dollar"></i></span>
                                                                <input type="text" class="form-control" placeholder="Price">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="icofont icofont-numbered"></i></span>
                                                                <input type="text" class="form-control" placeholder="Quantity">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="icofont icofont-align-left"></i></span>
                                                                <input type="text" class="form-control" placeholder="Categories">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="icofont icofont-copy-alt"></i></span>
                                                                <input type="text" class="form-control" placeholder="Product Description">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <select name="select" class="form-control form-control-primary">
                                                                <option value="opt1">Select One Value Only</option>
                                                                <option value="opt2">2</option>
                                                                <option value="opt3">3</option>
                                                                <option value="opt4">4</option>
                                                                <option value="opt5">5</option>
                                                                <option value="opt6">6</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="text-center">
                                                                <button type="button" class="btn btn-primary waves-effect waves-light m-r-10">Confirmar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product edit card end -->
                </div>
            </div>
        </div>
        <!-- Page body end -->
    </div>
</div>
<!-- Main-body end -->