<div class="progress" style="height: 1px;">
        <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
<br/>
<div class="row">
    <div class="col-md-6 col-xl-3" (click)="chooseMotorized()">
        <div class="card social-widget-card">
            <div class="card-block-big bg-facebook">
                <h3>Vehiculos</h3>
                <img src="assets/images/vehiculo.png" class="img-fluid width-100" alt="Vehiculo">
                <i class="icofont icofont-auto-mobile"></i>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3" (click)="chooseProperty()">
        <div class="card social-widget-card">
            <div class="card-block-big bg-twitter">
                <h3>Inmuebles</h3>
                <img src="assets/images/inmueble.jpg" class="img-fluid width-100" alt="Vehiculo">
                <i class="icofont icofont-home"></i>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3" (click)="chooseService()">
        <div class="card social-widget-card">
            <div class="card-block-big bg-linkein">
                <h3>Servicios</h3>
                <img src="assets/images/servicio.jpg" class="img-fluid width-100" alt="Vehiculo">
                <i class="icofont icofont-chef"></i>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3" (click)="chooseProduct()">
        <div class="card social-widget-card">
            <div class="card-block-big bg-google-plus">
                <h3>Productos</h3>
                
                <img src="assets/images/producto.png" class="img-fluid width-100" alt="Vehiculo">
                <i class="icofont icofont-kids-scooter"></i>
            </div>
        </div>
    </div>   
</div>