<br>
<div class="row" style="justify-content: center;">
    <div class="col-6 col-sm-6 col-md-3 col-xl-3" (click)="chooseMotorized()" style="cursor:pointer;">
        <div class="card social-widget-card">
            <div class="card-block-big bg-facebook">
                <h3 style="font-size: 1.2rem;">Vehiculos</h3>
                <img src="assets/images/vehiculo.png" class="img-fluid width-100" alt="Vehiculo">
                <i class="icofont icofont-auto-mobile"></i>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-3 col-xl-3" (click)="chooseProperty()" style="cursor:pointer;">
        <div class="card social-widget-card">
            <div class="card-block-big bg-twitter">
                <h3 style="font-size: 1.2rem;">Inmuebles</h3>
                <img src="assets/images/inmueble.jpg" class="img-fluid width-100" alt="Vehiculo">
                <i class="icofont icofont-home"></i>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-3 col-xl-3" (click)="chooseService()" style="cursor:pointer;">
        <div class="card social-widget-card">
            <div class="card-block-big bg-linkein">
                <h3 style="font-size: 1.2rem;">Servicios</h3>
                <img src="assets/images/servicio.jpg" class="img-fluid width-100" alt="Vehiculo">
                <i class="icofont icofont-chef"></i>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-3 col-xl-3" (click)="chooseProduct()" style="cursor:pointer;">
        <div class="card social-widget-card">
            <div class="card-block-big bg-google-plus">
                <h3 style="font-size: 1.2rem;">Productos</h3>
                <img src="assets/images/producto.png" class="img-fluid width-100" alt="Vehiculo">
                <i class="icofont icofont-kids-scooter"></i>
            </div>
        </div>
    </div>   
</div>