
<div class="main-body">
    
    <div class="page-wrapper">
        <div style="padding:0 20px;" class="page-header">
            <div class="page-header-title">
                <h4>Resúmen</h4>
            </div>
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a routerLink="/index">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/userFront">Resúmen</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-body">
            <div class="row">
                <!-- counter-card-1 start
                <div class="col-md-12 col-xl-4">
                    <div class="card counter-card-1">
                        <div class="card-block-big">
                            <div>
                                <h3>4000</h3>
                                <p>Most Played Last Month
                                    <span class="f-right text-primary">
                                <i class="icofont icofont-arrow-up"></i>
                                37.89%
                                </span></p>
                                <div class="progress ">
                                    <div class="progress-bar progress-bar-striped progress-xs progress-bar-pink" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <i class="icofont icofont-comment"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card counter-card-2">
                        <div class="card-block-big">
                            <div>
                                <h3>2500</h3>
                                <p>Coffee cups per day
                                    <span class="f-right text-success">
                                <i class="icofont icofont-arrow-up"></i>
                                34.52%
                                </span>
                                </p>
                                <div class="progress ">
                                    <div class="progress-bar progress-bar-striped progress-xs progress-bar-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <i class="icofont icofont-coffee-mug"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card counter-card-3">
                        <div class="card-block-big">
                            <div>
                                <h3>800 Gb</h3>
                                <p>Average Monthly Uploads
                                    <span class="f-right text-default">
                                <i class="icofont icofont-arrow-down"></i>
                                22.34%
                                </span></p>
                                <div class="progress ">
                                    <div class="progress-bar progress-bar-striped progress-xs progress-bar-default" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <i class="icofont icofont-upload"></i>
                        </div>
                    </div>
                </div>
                Monthly Growth Chart start
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Monthly Growth</h5>
                        </div>
                        <div class="card-block">
                            <div id="chart4"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Daily Increment</h5>
                        </div>
                        <div class="card-block">
                            <div id="chart_Donut" style="width: 100%; height: 320px;"></div>
                        </div>
                    </div>
                </div>
                Recent Order table start -->
                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-header">
                            <h5>RESÚMEN</h5>
                        </div>
                        <div style="padding:0;" class="card-block">
                            <div class="card">
                                <div class="card-header">
                                    <h5><i class="icofont icofont-chat text-info"> PREGUNTAS</i></h5>
                                </div>
                                <div class="card-block">
                                    <a href="/sales/query"><button class="btn btn-default col-sm-12" style="text-align: left;"><span class="pcoded-badge label label-danger ">{{queries}}</span> Que aún no respondiste
                                    </button></a>
                                </div>
                            </div>
                            <!--<div class="card">
                                <div class="card-header">
                                    <h5><i class="icofont icofont-list text-info"> PUBLICACIONES</i></h5>
                                </div>
                                <div class="card-block">
                                </div>
                            </div>-->
                            <div class="card">
                                <div class="card-header">
                                    <h5><i class="icofont icofont-edit text-info"> OPERACIONES</i></h5>
                                </div>
                                <div class="card-block">
                                    <a href="/sales"><button class="btn btn-default col-sm-12" style="text-align: left;"><span class="pcoded-badge label label-danger ">{{deliveries}}</span> Ventas con entregas pendientes
                                    </button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Recent Order table end -->
                <div class="col-sm-12 col-xl-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>SALDO EN YINGUL PAY</h5>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td><a href="/frontYingulPay/userBalance">En Cuenta</a></td>
                                                    <td>$ {{money}}</td>
                                                </tr>
                                                <tr>
                                                    <td><a class="text-danger">Disponible</a></td>
                                                    <td>$ {{account.availableMoney}}</td>
                                                </tr>
                                                <tr>
                                                    <td><a >A liberar</a></td>
                                                    <td>$ {{account.releasedMoney}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-xl-12">
                            <!-- User activities chart start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>CRECE EN YINGUL</h5>
                                </div>
                                <div class="card-block">
                                    <a href="/userFront/userProfile"><button class="btn btn-default col-sm-12" style="font-size:18px;"><i class="ti-user" style="color:#014abf"> Completa tu cuenta</i><br>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [style.width.%]="profilePorcentage" style="width: 50%; height: 20px; font-size: 20px; padding-top: 5px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{profilePorcentage}}%</div>
                                        </div>
                                    </button></a>
                                    <br>
                                    <br>
                                    <a href="/sell"><button class="btn btn-default col-sm-12" style="font-size:20px;"><i class="ti-stats-up" style="color:#014abf"> ¡Vende!</i><br>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 15%; height: 20px; font-size: 20px; padding-top: 5px;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
                                    </div></button></a>
                                </div>
                            </div>
                            <!-- User activities chart end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
                  
